<footer id="footer">
	<section>
		<ul>
			<li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->logo-accredited.png" alt="" /></a></li>
			<li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->logo-thecleantrust.png" alt="" /></a></li>
			<li><a href="javascript:void(0)"><img src="<!--{$imagePath}-->logo-ria.png" alt="" /></a></li>
			<li><a href="http://printfalcon.com"><img src="<!--{$imagePath}-->logo-falcon.png" alt="" /></a></li>
		</ul>
	</section>
	<aside>
		<nav>
			<a class="mexo" href="http://mexo.co">Mexo Inc</a>
			<a class="alborzsolution" href="http://alborzsolutions.com">Alborz Solutions</a>
			<a class="fb" href="javascript:void(0)">Facebook</a>
			<a class="tw" href="javascript:void(0)">Twitter</a>
		</nav>
		<p>Copyright &copy; 2012 The Flood Masters, Inc - Tel: 1-855-356-6391</p>
	</aside>
</footer>
