<footer id="footer">
	<section>
		<ul>
			<li><a href="http://www.bbb.org/washington-dc-eastern-pa/business-reviews/floor-laying-refinishing-and-resurfacing/the-flood-masters-llc-in-vienna-va-235987439"><img src="<!--{$imagePath}-->logo-bbb.png" alt="" /></a></li>
			<li><a href="http://www.iicrc.org/"><img src="<!--{$imagePath}-->logo-thecleantrust.png" alt="" /></a></li>
			<li><a href="http://www.trash4cash.com/"><img src="<!--{$imagePath}-->logo-trash4cash.png" alt="" /></a></li>
			<li><a href="http://www.restorationindustry.org/"><img src="<!--{$imagePath}-->logo-ria.png" alt="" /></a></li>
			<li><a href="http://printfalcon.com"><img src="<!--{$imagePath}-->logo-falcon.png" alt="" /></a></li>
		</ul>
		<p>Copyright &copy; 2012 The Flood Masters, LLC. All rights reserved.</p>
	</section>
	<aside>
		<nav>
			<a class="mexo" href="http://mexoinc.com">Mexo Inc</a>
			<a class="curlybit" href="http://curlybit.com">CurlyBit Inc</a>
			<a class="alborzsolution" href="http://alborzsolutions.com">Alborz Solutions</a>
			<a class="fb" href="http://facebook.com/thefloodmasters">Facebook</a>
			<a class="tw" href="http://twitter.com/thefloodmasters">Twitter</a>
		</nav>
		<p>8453 Tyco Rd Suite G, Vienna, VA 220182</p>
		<p>Tel: <span>1-855-356-6391</span>, <span>703-499-0011</span> - Fax: <span>571-529-6881</span></p>
	</aside>
</footer>
