<header id="header">
	<h1 id="logo"><a href="javascript:void(0)">TheFloodMaster</a></h1>
	<aside id="callSection">
		<span>24 Hours Emergency Service</span>
		<span class="phoneNo">1-855-FLOOD-911</span>
		<span class="timer">At your location within 60 minutes or less!</span>
	</aside>
</header>
<nav id="navMenu">
	<ul>
		<li class="firstLevel">
			<a href="<!--{$applicationPath}-->"><span>Home</span></a>
			<ul>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=water">Water Damage</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=fire">Fire, Smoke &amp; Soot</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=mold">Mold Mitigation &amp; Remediation</a></li>
				<li class="secondLevel"><a href="javascript:void(0)">Move Outs</a></li>
				<li class="secondLevel"><a href="javascript:void(0)">Catastrophic Storm Response</a></li>
				<li class="secondLevel"><a href="javascript:void(0)">Document Drying</a></li>
			</ul>
		</li>
		<li class="firstLevel"><a href="javascript:void(0)"><span>Residential Services</span></a></li>
		<li class="firstLevel"><a href="javascript:void(0)"><span>Commercial Services</span></a></li>
		<li class="firstLevel"><a href="<!--{$applicationPath}-->?action=about"><span>About Us</span></a></li>
		<li class="firstLevel last"><a href="<!--{$applicationPath}-->?action=contact"><span>Contact Us</span></a></li>
	</ul>
</nav>