<header id="header" style="position: relative;">
	<h1 id="logo"><a href="./">TheFloodMaster</a></h1>
	<aside id="callSection">
		<span class="phoneNo">1-855-356-6391</span>
		<span class="phoneNo">1-703-499-0011</span>
		<span class="timer">"We're the first ones there!"</span>
	</aside>
	<span id="emergency-service">Property Restoration &amp; Disaster Recovery</span>
</header>
<nav id="navMenu">
	<ul>
		<li class="firstLevel">
			<a href="<!--{$applicationPath}-->"><span>Home</span></a>
		</li>
		<li class="firstLevel">
			<a href="<!--{$applicationPath}-->?action=residential-services#residential"><span>Residential</span></a>
			<ul>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-water">Water, Flood &amp; Storm Restoration</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-fire">Fire, Smoke &amp; Soot Restoration</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-mold">Mold Remediation</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-cleaning">Cleaning Services</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-sewage">Sewage &amp; Pipe Bursts</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-flooring">Flooring Services</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=residential-services#residential-basement">Basement Waterproofing</a></li>
			</ul>
		</li>
		<li class="firstLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial"><span>Commercial</span></a>
			<ul>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial-service">Commercial Restoration</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial-cleaning">Commercial Cleaning</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial-partner">Partner With Us</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial-flooring">Commercial Flooring</a></li>
				<!--<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial-mold">Mold Remediation</a></li>
				<li class="secondLevel"><a href="<!--{$applicationPath}-->?action=commercial-services#commercial-sewage">Basement Waterproofing</a></li>
				-->
			</ul>
		</li>
		<li class="firstLevel"><a href="<!--{$applicationPath}-->?action=about"><span>About Us</span></a></li>
		<li class="firstLevel last"><a href="<!--{$applicationPath}-->?action=contact"><span>Contact Us</span></a></li>
	</ul>
</nav>