<section class="contentBox clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1>About Us</h1>
			<h2>Who are The Flood Masters?</h2>
		</hgroup>
		<section id="aboutUsContent" class="wp innerPage">
			<p>The Flood Masters is a 24 Hour Property Damage Restoration Company specializing in the clean up and restoration of Commercial and Residential properties from disasters such as fire, water and mold. </p>
			<p>Founded on the core business of carpet and upholstery cleaning, The Flood Masters realized that their customers experienced greater disasters then the average carpet and sofa staining. Therefore we expanded into the restoration side of the business offering our customers a twenty-four hour emergency service that would take care of their greater more severe needs that could potentially jeopardized their home and business. Here are the services we offer all of our Commercial &amp; Residential partners:</p>
			<ul class="tickList">
				<li>Water, Flood &amp; Storm Clean Up and Restoration</li>
				<li>Fire, Smoke &amp; Soot Clean Up and Restoration</li>
				<li>Mold Mitigation and Asbestos Abatement Services</li>
				<li>Waterproofing Systems for Interior and Exterior of Structures</li>
				<li>Carpet, Hardwood, Tile and Laminate Floor Installation</li>
				<li>Carpet and Upholstery Cleaning and Restoration</li>
				<li>Furniture Restoration</li>
			</ul>
			<p>And always remember; "We're the first ones there!"</p>
			<h2>Areas Which We Serve</h2>
			<ul id="areaMaps">
				<li>
					<h5>Washington DC</h5>
					<figure><img src="<!--{$imagePath}-->map-washington.jpg" alt="map-washington" /></figure>
				</li>
				<li>
					<h5>Maryland</h5>
					<figure><img src="<!--{$imagePath}-->map-maryland.jpg" alt="map-maryland" /></figure>
					<div>Bethesda, Rockville, Germantown, Annapolis, Baltimore, Anne Arundel County, Calvert County, Charles County, Howard County, Prince Georges County, Montgomery County, and others.</div>
				</li>
				<li class="last">
					<h5>Virginia</h5>
					<figure><img src="<!--{$imagePath}-->map-virginia.jpg" alt="map-Virginia" /></figure>
					<div>Fairfax, Mclean, Great Falls, Falls Church, Annandale, Alexandria, Leesburg, Sterling, Landsdowne, Arlington, Centreville, Chantilly, Manassas, Fairfax County, Fairfax City, Loudon County, Prince William County, and others.</div>
				</li>
			</ul>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->