
<section class="contentBox sewagePage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1>Basement Waterproofing</h1>
			<h2>We Provide Expert Basement Waterproofing For Residential, Commercial and Industrial Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>
				<div class="button"><a href="<!--{$applicationPath}-->?action=contact"><span>Get Help Now</span></a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
		<section class="innerPage clearfix">
			<div class="serviceSection">
				<aside>
					<p>Your home is your most valuable asset…and each home and basement is different. Your foundation may be fieldstone, cement, concrete block or cement walls. All experts agree that the most common water entry points are over the foundation, through the footings, and down the walls resulting in basement leaks, moldy basement, and flooding problems.</p>
					<p>Our basement water proofing technicians are proven, courteous, highly trained professionals. Coupled with our patented sump pump systems, we provide the best basement waterproofing services anywhere – at any price. Honest service and timely repairs using the right equipment -- that’s our promise to you.</p>
					<ul class="bullet">
						<li><b>Basement Waterproofing Systems:</b> A waterproofing system keeps water from entering your basement. A waterproofing system can only be effective if it includes both drainage and sealers. There are three components of complete basement waterproofing systems: interior sealants, interior water drainage, and exterior waterproofing.</li>
						<li><b>Basement Waterproofing Products: </b> We use the best basement waterproofing products offered in the industry.  Whether you are in need of a new sump pump, backup sump pump or dehumidifier we have the right basement waterproofing product to keep your basement safe and dry – guaranteed.</li>
						<li><b>Basement Sump Pump:</b> Basement Sump Pumps get rid of water that has built up in the basement. The water may get in through the perimeter drains of a basement waterproofing system. If the basement is below the water table level, rain or natural ground water may seep in.  However, with one of our basement sump pumps in place you won't have anything to worry about!</li>
						<li><b>French Drain:</b> A French drain is a ditch covered with gravel or rock that moves away from your basement. It has hollow pipes along the bottom which vent water that gets down into the gravel or rock. French drains are a popular drainage systems, and are used to stop water from getting into and damaging your basement.</li>
					</ul>
					<p>Our dedicated Waterproofing team use innovative solutions such as the Water Grabber® Bull Dog™, Water Trek Aqua Route®, Techni-Crack®, Lawn Magnum®, Baseboard, Floor Grate, Gutter Tamer, and The Alternator® to keep your basement dry as efficiently as possible. No matter what the basement water proofing problem, from basement leaks, to sump pump services, and flooding repair, The Flood Masters has the water proofing solution.</p>
				</aside>
				<section style="margin: 20px 0;">
					<figure class="floatRight"><img width="420" height="360" src="<!--{$imagePath}-->waterproofing-exterior.jpg" alt="Basement Waterproofing Virginia, Washington DC, Maryland" /><i></i></figure>
				</section>
				<section style="margin: 20px 0;">
					<figure class="floatRight"><img width="420" height="450" src="<!--{$imagePath}-->waterproofing-sumppump.jpg" alt="Basement Sump Pump" /><i></i></figure>
				</section>
				<section style="margin: 20px 0;">
					<figure class="floatRight"><img width="420" height="260" src="<!--{$imagePath}-->waterproofing-wetbasement.jpg" alt="Basement Waterproofing Solution" /><i></i></figure>
				</section>
			</div>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->
