<section class="contentBox clearfix cleaningPage">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>Cleaning</strong> Services</h1>
			<h2>We Provide Expert Cleaning Services For Residential, Commercial and Industrial Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>
				<div class="button"><a href="<!--{$applicationPath}-->?action=contact">Get Help Now</a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
	</section>
	<footer class="bottomContent"></footer>
</section>
<section id="cleaningServiceWrapper" class="clearfix cleaningPage">
	<aside id="sidebar">
		<div class="sideBox orangeColor">
			<header><h4><a href="#residential">Residential Services</a></h4></header>
			<section>
				<ul>
					<li><a href="#r-Carpet-Cleaning">Carpet Cleaning</a></li>
					<li><a href="#r-Upholstery-Cleaning">Upholstery Cleaning</a></li>
					<li><a href="#r-Tile-Garout-Cleaning">Tile and Grout Cleaning</a></li>
					<li><a href="#r-Hardwood-Floor">Hardwood Floor Refinishing</a></li>
					<li><a href="#r-Sewage-Cleanup">Sewage Clean Up</a></li>
					<li><a href="#r-Power-Washing">Power Washing</a></li>
				</ul>
			</section>
			<footer></footer>
		</div>
		<div class="sideBox greenColor">
			<header><h4> <a href="#commercial" >Commercial Services </a></h4></header>
			<section>
				<ul>
					<li><a href="#c-Carpet-Cleaning">Carpet Cleaning</a></li>
					<li><a href="#c-Upholstery-Cleaning">Upholstery Cleaning</a></li>
					<li><a href="#c-Hard-Floor-Surface-Cleaning">Hard Floor Surface Cleaning</a></li>
					<li><a href="#c-Power-Washing">Power Washing</a></li>
				</ul>
			</section>
			<footer></footer>
		</div>
	</aside>
	<section class="contentBoxMedium clearfix">
		<header class="topContent"></header>
		<section class="middleContent clearfix">
			<section class="innerPage residentialServices clearfix" id="residential">
				<h2>Residential Services</h2>
				<p>We provide expert Residential Services in many ways. We are experts in the field of steam cleaning carpets since the early 90's and have continued to pride ourselves in maintaining our customer's home clean and spotless through the years. Normal everyday wear and tear can leave your carpet, tile and hard surface flooring looking dull and filled with debris. That's when we step in with our industry leading equipment and expertise to get the job done for you. We also clean grout, tile, upholstery and refinish hardwood floors. Most homeowners do not realize the different types of carpet protectants that are available by a service professional, make sure you ask about how we can keep your carpet looking and smelling cleaner for a longer period of time</p>
				<section class="serviceSection" id="r-Carpet-Cleaning">
					<h2>Carpet Cleaning</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-01.jpg" alt="Carpet Cleaning Virginia, Washington DC, Maryland" /><i></i></figure>
						</section>
						<p><b>Hot Water Extraction/Steam Cleaning:</b> The most common type of residential and commercial carpet cleaning method. It is recommended by most carpet and fiber manufacturers such as; Shaw Industries, Mohawk, Masland, Fabrica, Monsanto and Dupont. This method can be done by portable or truck-mounted equipment by spraying heated cleaning solution into the carpet pile while simultaneously extracting the dirt and solution with a powerful vacuum - never allowing the carpet to get soaked. </p>
					</aside>
					<div class="clr"></div>
					<aside style="width: 100%">
						<p class="setMargin">The Hot Water Extraction method can be very effective provided the following rules are followed:</p>
						<ul class="bullet">
							<li>A non-soap cleaner is used so that no soapy residue is left behind to attract dirt to the carpet.</li>
							<li>Solution temperature is maintained for optimal cleaning. Typically 150 degrees or higher is optimal.</li>
							<li>The pressure of the solution being sprayed onto the carpet high enough to penetrate the carpet fibers deep down.</li>
							<li>The Vacuum power of the machine is sufficient to remove the majority of the cleaning solution and soil particles. <b>Rental units are NOT recommended since most are considered inferior to what a professional uses.</b></li>
						</ul>
						<p><b>We clean and repair Oriental rugs from all around the world</b> - United States, Persia, Iran, Iraq, Russia, Turkey, India, China, Egypt, Afghanistan, Pakistan, Tibet, Belguim and more. The Flood Masters is one of the best rug cleaners in Arlington, Northern Virginia, Maryland and Washington DC.</p>
						<h4>METHODS OF AREA RUG CLEANING</h4>
						<b>Typical Hand-Washed Rug Cleaning Procedure:</b>
						<ul class="bullet">
							<li>Inspect areas prior to cleaning.</li>
							<li>Dust rugs to remove dry soils.</li>
							<li>Pre-spot for any oil or grease stains.</li>
							<li>Immerse rugs in cold water to loosen and suspend soils deep within the rugs.</li>
							<li>Hand shampoo with approved cleaning detergents by the Wools of New Zealand.</li>
							<li>Hand scrub soiled fringes.</li>
							<li>Thoroughly rinse all soils and detergents of rugs with cold water.</li>
							<li>Wring out rugs and remove excess moisture with high volume water extractor.</li>
							<li>Groom nap for uniformity and dry in climate controlled drying room.</li>
							<li>Brush, vacuum and post-spot any stubborn spots for maximum results.</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="r-Upholstery-Cleaning">
					<h2>Upholstery Cleaning</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->residential-upholstery-cleaning.jpg" alt="Residential Upholstery Cleaning Service" /><i></i></figure>
						</section>					
						<p>Your furniture is as important to a room's appearance as your carpet. That's why The Flood Masters uses the same process for upholstery cleaning that we do for carpet cleaning. Our two-step upholstery cleaning system includes a specially formulated pH-balancing fiber rinse that removes cleaning solution residue right along with deep-down dirt and replaces it with a beautiful scent - leaving nothing behind but clean, fresh-smelling fabric and furniture. </p>
					</aside>
					<div class="clr"></div>
					<aside style="width: 100%">
						<h4>Here's how it works:</h4>
						<p>When our professionally trained, insured carpet cleaning technicians arrive at your home, they start with a pre-inspection to identify problem areas. Then our technicians begin work:</p>
						<ul class="bullet">
							<li>One of out special heated upholstery cleaning solutions is applied to the fabric to loosen embedded dirt and debris.</li>
							<li>It is then followed by a thorough fiber rinse and extraction step to remove the dirt along with the cleaning solution.</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="r-Tile-Garout-Cleaning">
					<h2>Tile &amp; Grout Cleaning</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic  floatRight"><img src="<!--{$imagePath}-->tile.jpg" alt="Tile & Grout Cleaning" /><i></i></figure>
						</section>
						<p>As a homeowner you know that cleaning your tile and the grout area between can be challenging. The dirty, dingy or stained grout lines between the tile are very difficult to get clean on your own. Normal mopping of a floor leaves dirty detergent residue in the grout lines. That's why you need a professional cleaning company like ours Sanding. Our extraction cleaning system incorporates heat, cleaning agents, vacuum and a high pressure rinse to remove the dirt that homeowners can't.</p>
					</aside>
					<div class="clr"></div>
					<aside style="width: 100%">
						<h4>Clear Grout Sealing Protection</h4>
						<p>When a tile floor is installed it's not common for a grout sealer to be applied. Grout is porous, and if left unsealed, dirt, cooking oil, grease and detergent residue become embedded. Once it's embedded it requires professional cleaning to remove. After professional cleaning, The Flood Masters recommends an application of a clear grout sealer which makes the grout lines easier to maintain between professional cleanings.</p>
						<h4>Grout Re-coloring and Sealing</h4>
						<p>When your grout has deeply embedded stains and dirt that won't come clean or perhaps you just want to change the decor in your home, Grout Re-coloring can renew the look of your tile and grout surfaces without the costly expense of replacement.</p>
					</aside>
				</section>
				<section class="serviceSection" id="r-Hardwood-Floor">
					<h2>Sanding &amp; Staining Hardwood Floors</h2>
					<aside>
						<p>Are your hardwood floors dull and lackluster? Do you have to cover them up with rugs when you have company because they aren't attractive? You don't have to be embarrassed by your floors anymore! With wood floor refinishing from The Flood Masters, your floors will look brand new – your guests will think you've had beautiful new floors installed! Our wood floor refinishing experts will bring your floors back to their true potential!</p>
					</aside>
					<section>
						<figure class="smallPic  floatRight"><img src="<!--{$imagePath}-->Sanding & Staining Hardwood Floors.jpg" alt="Sanding & Staining Hardwood Floors" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<aside style="width: 100%">
						<h4>Benefits of Wood Floor Refinishing</h4>
						<p class="setMargin">Refinishing your wood floors will completely transform your home. Having your wood floor refinished will:</p>
						<ul class="bullet col-2">
							<li>Enhance its appearance</li>
							<li>Make your home look newer</li>
							<li>Add more elegance to your rooms</li>
							<li>Help protect your floors from future damage</li>
							<li>Transform the look and feel of your rooms</li>
						</ul>
						<h4>Wood Floor Refinishing Process</h4>
						<p>So what happens during a wood floor refinishing from The Flood Masters? First, our wood floor refinishers sand your floors to remove any marks and smooth them out. Next, we stain the wood any color you choose! This is where you can get creative and really change the whole look and feel of your home. </p>
						<p>If you aren't sure what kind of stain you want, we can come to your home and show you samples – even apply some to your current floor so you'll see exactly how it will look! A darker stain can suggest a quiet, dark room and would look great in a library, bedroom or home theatre. Lighter stains are great for brighter looks for rooms such as kitchens and living rooms. You can even choose a stain that complements your furniture! After your stain is applied, our wood floor refinishers put down a top coat to add shine and protect your floors from scratches and other marks. And you won't need to worry about your furniture; we will move it to a safe location and seal the room we're working in so dust and debris won't get all over your home. Best of all, we have products that are environmentally friendly with little odor.</p>
					</aside>
				</section>
				<section class="serviceSection" id="r-Sewage-Cleanup">
					<h2>Sewage Clean Up</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-19.jpg" alt="Sewage Clean Up" /><i></i></figure>
						</section>
						<p>When a sewage disaster occurs in a home, it is critical that the affected area is cleaned and disinfected to minimize the potential for disease and other airborne pollutants. It is important to know that many items that have sewage damage are most likely going to become a total lost. Depending on the type of porous material and level of contamination, many items should be discarded (mattresses, pillows, baby toys, paper products) are most likely going to become a total loss unless the item can be cleaned through a special process involving hot water and cleaning chemicals.</p>
					</aside>
					<div class="clr"></div>
					<aside style="width: 100%">
						<p>In most cases cleaning up sewage disasters involves removing the carpeting and drywall in the affected areas. Once the sewage has been cleaned and the affected materials removed, the disinfection process begins. Using specialized cleaning solutions help to kill bacteria and disinfect the affected areas from sewage damages.</p>
						<p>Our <b>water damage restoration</b> team has extensive experience in cleaning properties from water damage disasters. If your property has suffered from a sewage damage disaster, we will attempt to minimize damages and contain impacted areas when possible. You can feel confident our goal is to return your property back to normal as quickly and safely as possible.</p>
					</aside>
				</section>
				<section class="serviceSection" id="r-Power-Washing">
					<h2>Power Washing</h2>
					<aside>
						<p>Dirt, grime and mildew can collect on your home's vinyl siding and if not cleaned, can cause costly repairs, renovations or replacements. We specialize in residential power washing, with and without chemical injection, and offer a wide range of services to our customers for all precast/facade architectural finishes. Our pressure washing equipment has hot water capabilities and our technicians are trained for proper (green) chemical use.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-10.jpg" alt="Power Washing" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<aside style="width: 100%">
						<p>The Flood Masters pressure washing division provides cleaning and sealing of building facades, garage and driveway surfaces, decks and sidewalk areas. We offer the newest and most advanced pressure washing techniques to remove dirt, grime, oil spots, etc. We look forward to the opportunity to take care of your pressure washing service needs.</p>
						<p class="setMargin">Our pressure washing services are available on a 24/7 schedule.</p>
						<ul class="bullet col-2">
							<li>Roof Washing</li>
							<li>Brick and Block Power Washing</li>
							<li>Gutter Cleaning</li>
							<li>Deck Cleaning and Staining</li>
						</ul>
					</aside>
				</section>
			</section><!-- end of Inner page -->
		</section>
		<footer class="bottomContent"></footer>
	</section>
	<section class="contentBoxMedium clearfix">
		<header class="topContent"></header>
		<section class="middleContent clearfix">
			<section class="innerPage commercialServices clearfix" id="commercial">
				<h2>Commercial Services</h2>
				<p>The Flood Masters' team and your organization make a great partnership. We have partnered with restaurants, condominiums, and commercial properties providing them with carpet, upholstery, hard floor cleaning and emergency restoration services for over a decade now. With over 30 years of experience, we have the knowledge, manpower and equipment to handle any situation.</p>
				<p>
				Not only does partnering with us lower your monthly cleaning and upkeep costs but it reduces scheduling headaches because we efficiently and effectively care for your property ensuring that you are our number one priority. Because we are a 24-hour emergency restoration company, we are able to help you in case a catastrophic water or fire loss occurs and provide you with attentive and dedicated first hand service. We have our team on stand by awaiting your call.</p>
				<section class="serviceSection" id="c-Carpet-Cleaning">
					<h2>Carpet Cleaning</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->commercial-carpet-cleaning.jpg" alt="Commercial Carpet Cleaning Services" /><i></i></figure>
						</section>	
						<p>Whether you have 1,000 square feet of tile or 20,000 square feet of carpet we have the knowledge to take care of your needs. The Flood Masters professional technicians use the power of hot water extraction for a deep healthy clean in combination with our specialty solutions and deodorizers to keep your carpet looking fresh and new.  Studies have shown that a clean working environment leads to higher productivity amongst the work staff. Keeping carpet clean can be difficult if not actively cleaned on a monthly basis. High foot traffic along with stains and spills can lead to carpets fading faster and not lasting as long. By scheduling a routine cleaning you will ensure the life expectancy of your carpet will be extended dramatically. </p>
					</aside>
				</section>
				<section class="serviceSection" id="c-Upholstery-Cleaning">
					<h2>Upholstery Cleaning</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->commercial-upholstery-cleaning.jpg" alt="Commercial Upholstery Cleaning" /><i></i></figure>
						</section>
						<p>Your furniture is as important to the working environment's appearance as your carpet. That's why <strong>The Flood Masters</strong> uses the same process for upholstery cleaning that we do for carpet cleaning. Our two-step upholstery cleaning system includes a specially formulated pH-balancing fiber rinse that removes cleaning solution residue right along with deep-down dirt and replaces it with a beautiful scent - leaving nothing behind but clean, fresh-smelling fabric and furniture.</p>
					</aside>
					<aside style="width:100%">
						<h4>Here's how it works:</h4>
						<p>When our professionally trained, insured carpet cleaning technicians arrive at your home, they start with a pre-inspection to identify problem areas. Then our technicians begin work:</p>
						<ul class="bullet">
							<li>One of our special heated upholstery cleaning solutions is applied to the fabric to loosen embedded dirt and debris.</li>
							<li>It is then followed by a thorough fiber rinse and extraction step to remove the dirt along with the cleaning solution.</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="c-Hard-Floor-Surface-Cleaning">
					<h2>Hard Floor Surface Cleaning</h2>
					<aside style="width: 100%">
						<section style="float: right; margin-bottom: 0;">
							<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->Hard Floor Surface Cleaning.jpg" alt="Hard Floor Surface Cleaning Service" /><i></i></figure>
						</section>
						<p>Not all flooring on commercial properties are carpet, most of the time the floor coverings are tiles and hard surface flooring. Even though tile and grout may look like they retain less debris and dirt but in fact it is more porous than carpet and once it has come in contact with debris it locks it in, absorbing it and leaving it to discolor as time passes. Adding tile and grout cleaning to your monthly carpet cleaning is a great compliment. You will ensure that your property is looking healthy, fresh and clean from sun up to sun down.</p>
					</aside>
				</section>
				<section class="serviceSection" id="c-Power-Washing">
					<h2>POWER WASHING</h2>
					<aside>
						<p>Sometimes we tend to forget that it's not only how our structure looks on the inside, but how it looks from the outside as well. Our pressure washer will extract the dirt and debris from all concrete and exterior surfacing. We specialize in commercial power washing, with and without chemical injection, and offer a wide range of services to our customers for all precast/facade architectural finishes. Our pressure washing equipment has hot water capabilities and our technicians are trained for proper (green) chemical use.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->commercial-power-washing.jpg" alt="Commercial Power Washing" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<aside style="width: 100%">
						<p>The Flood Masters pressure washing division provides commercial &amp; high-rise pressure washing services and water infiltration testing. We also specialize in the cleaning and sealing of building facades, garage and parking lot surface decks, sidewalk areas. We offer the newest and most advanced pressure washing techniques to remove dirt, grime, oil spots, etc. We look forward to the opportunity to take care of your pressure washing service needs.</p>
						<p>Our pressure washing services are available on a 24/7 schedule.</p>
					</aside>
				</section>
			</section><!-- end of Inner page -->
		</section>
		<footer class="bottomContent"></footer>
	</section>
</section>