
		
		<section class="contentBox commercialPage clearfix" id="commercial">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>COMMERCIAL SERVICES</strong></h1>
				</hgroup>
				<section class="innerPage clearfix">

					<p class="wp">Efficiency, Effectiveness and Cost Savings – three standards we go by when working with our Commercial Building Partners. Whether you have carpets and upholstery that need cleaning during the day or you have a restaurant or bank that needs cleaning during the night shift, you can rely on the Flood Masters to set up your maintenance program with your bottom dollar in mind.  And if you experience a catastrophe, just remember, "We're the first ones there!"</p>
					<div class="serviceSection" id="commercial-service">
						<h2>COMMERCIAL RESTORATION <span>FIRE, WATER &amp; MOLD</span></h2>
						<aside>
							<p>Whether you have experienced a fire and have extensive smoke and soot damage or water has intruded in your building from the upper levels all the way down or mold is causing potential health and safety concerns for your occupants, we want to make sure we are there with you every step of the way. We make sure to educate you in every aspect to make sure the proper procedures are taken place and that the work is efficiently and effectively executed. Our goal is to get you back up and running so that your cost is the least most affected. We know that not having your business in full working order can pose financial and physiological problems creating a poor working environment. That is why we want to make sure we can partner with you together working towards the common goal.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=contact">Contact us<figure></figure></a></div>
						</aside>

						<section>
							<figure class="floatRight"><img width="390" height="150" src="<!--{$imagePath}-->commercial-flood.jpg" alt="" /></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="390" height="150" src="<!--{$imagePath}-->commercial-fire.jpg" alt="" /></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="390" height="150" src="<!--{$imagePath}-->commercial-mold.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection setPadding" id="commercial-cleaning">
						<h2>COMMERCIAL CLEANING</h2>
						<aside>
							<p>Our commercial cleaning division caters to all of our Partners needs. Each job is completed by fully supervised, trained and insured technicians committed to excellence. Some different types of facilities we partner with are offices, fitness centers, health clubs, daycare centers, educational facilities, restaurants and banks. We offer competitive maintenance packages for daily, weekly and monthly cleaning services and work around the clock to ensure the job gets done for you. If you have any questions regarding the types of services we offer and how we can potentially partner up, give us a call today.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=cleaning#commercial">Learn more<figure></figure></a></div>
						</aside>
						<section style="margin-top:60px">
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-commercial-07.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection setPadding" id="commercial-partner">
						<h2>PARTNER WITH US</h2>
						<aside style="width: 100%;">
							<p>Our partnership programs work in many different ways. The advantages are endless, not only can we establish a face front in your tenants, your facility, and its layout but we can routinely clean and care for your upholstery and carpets leaving a much greater working environment for your tenants. We also will establish an <strong class="red">Emergency Preparation Profile (EPP)</strong> for you once we become partners.</p>
							<p>Our detailed Field Estimators come to your facility and establish a Preparation Profile for you and have a plan of action already set in place for if and when you experience a disaster. Eliminating unforeseen circumstances before we arrive will help minimize cost and work towards your bottom dollar allowing you to minimize business interruption and allowing us effective time to cut on drying and clean up time.</p>
							<ul class="bullet">
								<li>
									<b>Establishing your profile with critical information that is needed only in case of an emergency.</b>
									<span>Emergency exits, water shut off valves, main power supplies.</span>
								</li>
								<li>
									<b>Property overview</b>
									<span>Basically a brief biography on the building so we can establish information such as address, detailed directions, what year it was built and any special circumstances to take into account before work begins.</span>
								</li>
								<li>
									<b>Multisite Property and Risk Managers</b>
									<span>Whether you oversee one or a multitude of properties, we can individually prepare a plan for each one of your properties allowing you to be steps ahead of the game.</span>
								</li>
								<li>
									<b>Identifying the line of command for key decision-making and work authorization.</b>
									<span>This will not only save you time and money but will help us to get started on the work immediately leaving less damage to enter the structure.</span>
								</li>
								<li>
									<b>How to "Get back on your feet."</b>
									<span>This will help with getting you back up and running in a forward direction rather than sitting and spinning your wheels. </span>
								</li>
							</ul>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=contact">Become Partner<figure></figure></a></div>
						</aside>
					</div>

					<div class="serviceSection" id="commercial-flooring">
						<h2>FLOOR INSTALLATION</h2>
						<aside>
							<p>Many times commercial structures experience an extremely high level of traffic flow leading to the replacement of specific floor types. The Flood Masters offers an excellent selection of flooring – ranging from carpet, hardwood, tile, vinyl and laminate.</p>
							<p>Schedule an appointment for a no cost to you estimate so we can come out and see what needs you may have. Our Field Estimators have the experience and knowledge to help you choose the best and most effective choice for you.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=floor">Floor Installations<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->commercial-floor.jpg" alt="" /></figure>
						</section>
					</div>
					
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->
