<section class="contentBox contactPage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1>Contact Us</h1>
			<h2>Feel free to contact us</h2>
		</hgroup>
		<figure class="callUs">
			<span>
				<h2><strong>Call Us Now</strong></h2>
				<h6>24 Hour Live Support</h6>
				<h2><strong>1-855-356-6391</strong></h2>
			</span>
		</figure>
		<p class="contactParagraph wp">We would love to hear from you. Feel free to call or email our office with any questions.</p>
		<section id="contactContact" class="wp">
			<form id="contactForm">
				<section>
					<label for="contact-fullname">Your full name</label>
					<input type="text" id="contact-fullname" name="contact-fullname" />
				</section>
				<section>
					<label for="contact-email">E-mail address</label>
					<input type="text" id="contact-email" name="contact-email" />
				</section>
				<section>
					<label for="contact-address">Your address</label>
					<input type="text" id="contact-address" name="contact-address" />
				</section>
				<section>
					<label for="contact-phone">Phone No.</label>
					<input type="text" id="contact-phone" name="contact-phone" />
				</section>
				<section>
					<label>Which services do you want?</label>
					<aside>
						<span><input type="checkbox" id="waterService" name="waterService" /><label for="waterService">Water Damage Restoration</label></span>
						<span><input type="checkbox" id="sewageService" name="sewageService" /><label for="sewageService">Sewage Damage service</label></span>
						<span><input type="checkbox" id="fireService" name="fireService" /><label for="fireService">Fire Damage Restoration</label></span>
						<span><input type="checkbox" id="flooringService" name="flooringService" /><label for="flooringService">Flooring Service</label></span>
						<span><input type="checkbox" id="moldService" name="moldService" /><label for="moldService">Mold Remediation, Removal Service</label></span>
						<span><input type="checkbox" id="cleaningService" name="cleaningService" /><label for="cleaningService">Cleaning Services</label></span>
					</aside>
				</section>
				<section>
					<label for="contact-message">Message</label>
					<textarea id="contact-message" name="contact-message">></textarea>
				</section>
				<section><div class="button"><a href="javascript:void(0)"><span>Send</span></a></div></section>
			</form>
			<aside id="contactSidebar">
				<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=6201+Leesburg+Pike+Suite%23+6+Falls+Church,+VA+22044&aq=&sll=38.865834,-77.151393&sspn=0.001702,0.00365&vpsrc=0&ie=UTF8&hq=&hnear=6201+Leesburg+Pike+%236,+Falls+Church,+Virginia+22044&t=m&z=17" id="contact-map-link">(Find us on google map)</a>
				<section id="map">
					<figure><div id="map_canvas" style="width:338px; height:257px"></div></figure>
					<div>6201 Leesburg Pike Suite# 6 Falls Church, VA 22044</div>
				</section>
				<section id="twitterAndVcard">
					<!--<span class="vCard"><a href="javascript:void(0)">Download our vCard</a></span>
					--><span class="twitter"><a href="javascript:void(0)">Follow us on twitter</a></span>
				</section>
			</aside>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->