<section class="contentBox contactPage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1>Contact Us</h1>
			<h2>Feel free to contact us</h2>
		</hgroup>
		<figure class="callUs">
			<span>
				<h2><strong>Call Us Now</strong></h2>
				<h6>24 Hour Live Support</h6>
				<h2><strong>1-855-356-6391</strong></h2>
			</span>
		</figure>
		<p class="contactParagraph wp">We would love to hear from you. Feel free to call or email our office with any questions.</p>
		<section id="contactContact" class="wp">
			<form id="contactForm">
				<section>
					<label for="contact-fullname">Full name</label>
					<input type="text" id="contact-fullname" name="contact-fullname" class="required"/>
				</section>
				<section>
					<label for="contact-company">Company</label>
					<input type="text" id="contact-company" name="contact-company" />
				</section>
				<section>
					<label for="contact-email">E-mail address</label>
					<input type="text" id="contact-email" name="contact-email" class="required"/>
				</section>
				<section>
					<label for="contact-address">Address</label>
					<input type="text" id="contact-address" name="contact-address" class="required"/>
				</section>
				<section>
					<label for="contact-phone">Phone No.</label>
					<input type="text" id="contact-phone" name="contact-phone" class="required"/>
				</section>
				<section>
					<label for="contact-fax">Fax No.</label>
					<input type="text" id="contact-fax" name="contact-fax" />
				</section>
				
				<section>
					<label>Which services do you want?</label>
					<aside>
						<span><input type="checkbox" id="waterService" name="waterService" /><label for="waterService">Water Damage Restoration</label></span>
						<span><input type="checkbox" id="sewageService" name="sewageService" /><label for="sewageService">Sewage Damage service</label></span>
						<span><input type="checkbox" id="fireService" name="fireService" /><label for="fireService">Fire Damage Restoration</label></span>
						<span><input type="checkbox" id="flooringService" name="flooringService" /><label for="flooringService">Flooring Service</label></span>
						<span><input type="checkbox" id="moldService" name="moldService" /><label for="moldService">Mold Remediation, Removal Service</label></span>
						<span><input type="checkbox" id="cleaningService" name="cleaningService" /><label for="cleaningService">Cleaning Services</label></span>
					</aside>
				</section>
				<section>
					<label for="contact-message">Description</label>
					<textarea id="contact-message" name="contact-message">></textarea>
				</section>
				<section><div class="button"><a href="javascript:void(0)"><span>Send</span></a></div></section>
			</form>
			<aside id="contactSidebar">
				<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=8453+Tyco+Road+Suite+G,+Vienna,+VA+22182&aq=&sll=37.0625,-95.677068&sspn=55.192325,129.902344&vpsrc=0&ie=UTF8&hq=&hnear=8453+Tyco+Rd,+Vienna,+Virginia+22182&ll=38.931046,-77.237427&spn=0.006702,0.015857&t=m&z=17&iwloc=A" id="contact-map-link">(Find us on google map)</a>
				<section id="map">
					<figure><div id="map_canvas" style="width:338px; height:257px"></div></figure>
					<div>8453 Tyco Road Suite G, Vienna, VA 22182</div>
				</section>
				<!--<section id="twitterAndVcard">
					<span class="vCard"><a href="javascript:void(0)">Download our vCard</a></span>
					<span class="twitter"><a href="http://twitter.com/thefloodmasters">Follow us on twitter</a></span>
				</section>
				-->
			</aside>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->