<section class="contentBox firePage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>Fire</strong> Damage Restoration</h1>
			<h2>We Provide Expert Fire Damage Services For Residential, Commercial and Industrial Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>We are Insurance Approved Vendor</li>
					<li>BBB member accreditied with a A Rating</li>
					<li>We are fully licensed, bonded and insured</li>
				</ul>
				<div class="button"><a href="javascript:void(0)"><span>Get Online Help Now</span></a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
		<section class="innerPage clearfix">
			<p class="wp">A fire can start without any warnings, caused by faulty wiring, gas leaks, or an unprotected fire source.  Once it starts it can engulf your entire property in minutes, leaving you homeless and traumatized. Even a small fire can cause extensive damage and threaten your family's security. <strong>The Flood Masters</strong> emergency response team is ready to take action.</p>
			<div class="serviceSection">
				<h2>Fire Damage Services</h2>
				<section>
					<figure><img src="<!--{$imagePath}-->pic-fire-01.jpg" alt="" /><i></i></figure>
				</section>
				<aside>						
					<ul class="starBold col-2">
						<li>Soot Clean Up</li>
						<li>Fire Damage </li>
						<li>Kitchen Fire</li>
						<li>Smoke Damage Clean Up</li>
						<li>Electrical Fire Loss</li>
						<li>Wet Smoke Residue </li>
						<li>Fuel Oil Soot</li>
						<li>Furnace Puff Back</li>
					</ul>
				</aside>
				<div class="clr"></div>
				<aside>						
					<ul class="starBold">
						<li>Structural stabilization</li>
						<li>Emergency board up</li>
						<li>Professional Deodorization</li>
						<li>Prompt damage assessment</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img src="<!--{$imagePath}-->pic-fire-02.jpg" alt="" /><i></i></figure>
				</section>
				<div class="clr"></div>
				<p>At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed.</p>
			</div>
			<div class="serviceSection">
				<h2>Home Owner Tips</h2>
				<aside>
					<ul class="bullet">
						<li>Do not disturb the area around the fire source or move items.</li>
						<li>Open all windows.</li>
						<li>Do not turn on your homes electricity</li>
						<li>Do not attempt to clean or wipe and wash fire residue from walls, ceilings or other absorbent surfaces as this can further damage these areas.</li>
						<li>Call your insurance company immediately.</li>
						<li>take immediate action.</li>
						<li>Do not wait! Call Flood Masters Home Rescue; we are available.</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-fire-03.jpg" alt="" /><i></i></figure>
				</section>
			</div>
			<div class="serviceSection">
				<h2>The Process</h2>
				<p><strong>The Flood Masters</strong> operates with on a rapid response arrival time, working around the clock 24 hours, 7 days a week to make sure you are safe and damage free from any type of loss. If you have experienced a loss, please contact our call center at <strong class="red">855-FLOOD-911 (855-356-6391).</strong></p>
				<aside>
					<ol>
						<li>1. Once The Flood Masters call center has been contacted, within 2 hours we will have an on site visit scheduled, a local team dispatched and information about the loss gathered to assure a proper arrival. </li>
						<li>2. Within 4 hours of notification of loss, a Flood Masters representative will be in contact with appropriate person at the location of the loss to discuss the exact steps which will be taken to begin the process of mitigation. </li>
						<li>3. Once mitigation has taken underway, information will be gathered about your specific insurance coverage and contact information. </li>
						<li>4. Proper visual and written documentation of the area will be taken as well as management of all contents and materials.</li>
						<li>5. After the mitigation process is underway, our Manager on site will discus the full details of what will be taking place in order to bring your property back up to standards. </li>
						<li>6. Within 24 hours, we will have already contact your insurance representative and relayed specific details which need to be taken account for. </li>
					</ol>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-fire-04.jpg" alt="" /><i></i></figure>
				</section>
				<section>
					<figure class="floatRight"><img width="420" height="232"  src="<!--{$imagePath}-->pic-fire-05.jpg" alt="" /><i></i></figure>
				</section>
			</div>
			<div id="serviceWhyFlood">
				<h2>Why Choose <strong>Flood Masters?</strong></h2>
				<section>	
					When you've been through an experience as traumatic as a fire in your home, you need the services of a professional fire damage restoration company to minimize your losses and recover as many of your possessions as possible from the ravages of the fire damage.
					When you hire <strong>The Flood Masters</strong>, you are dealing with a fire damage restoration company that has many decades of experience in the fire restoration business. An established track record ensures your safety and peace of mind.
					Lert us Help you to get your sweet home back to what it was!
					<br/><a href="javascript:void(0)">Contact The Flood Masters</a> all care today.
				</section>
				<figure><img src="<!--{$imagePath}-->pic-fire-06.jpg" alt="" /></figure>
			</div>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->