<section class="contentBox firePage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>FIRE:</strong> Fire Damage Clean Up &amp; Restoration</h1>
			<h2>We Provide Expert Fire Damage Restoration Services for Commercial and Residential Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>
				<div class="button"><a href="<!--{$applicationPath}-->?action=contact"><span>Get Help Now</span></a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
		<section class="innerPage clearfix">

			<div class="serviceSection">
				<h2>Types of Smoke</h2>
				<p>Once our Technicians arrive to the sight of the damage we will test the soot to determine which type of smoke damage occurred. Cleaning procedures will be based on the information identified during fire damage assessment.  We have the capability to respond to any property damage situation on a 24-hour basis and respond with emergency board-ups, water extractions, temporary roof repairs, odor control, and air filtration using specialized industry equipment. If you experience a fire in your home, give us a call as soon as you can. </p>
				<h2>Types of soot include:</h2>
				<ul class="bullet">
					<li><b>Wet Smoke Residues</b> - Result from smoldering fires with low heat. Residues are sticky, smeary and with pungent odors.  Smoke webs can be difficult to clean.</li>
					<li><b>Dry Smoke Residues</b> - Result from fast burning fires at high temperatures. Residues are often dry, powdery, small, non-smeary smoke particulates.</li>
					<li><b>Protein Residues</b> - Virtually invisible residues that discolor paints and varnishes.  Extreme pungent odor.</li>
					<li><b>Other Types of Residues</b> - Tear gas, fingerprint powder, and fire extinguisher residues also need cleanup.</li>
				</ul>
			</div>
			
			<div class="serviceSection">
				<h2>Fire Damage Services</h2>
				<section>
					<figure><img src="<!--{$imagePath}-->pic-fire-01.jpg" alt="Fire Damage Services" /><i></i></figure>
				</section>
				<aside>						
					<ul class="starBold col-2">
						<li>Soot Clean Up</li>
						<li>Fire Damage Repair</li>
						<li>Kitchen Fires</li>
						<li>Smoke Damage Clean Up</li>
						<li>Fuel Oil Soot Removal</li>
						<li>Furnace Puff Back</li>
						<li>Electrical Fire Clean Up &amp; Restoration</li>
					</ul>
				</aside>
				<div class="clr"></div>
				<p>At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed.</p>
			</div>
			<div class="serviceSection">
				<h2>Home Owner Tips</h2>
				<aside>
					<ul class="bullet">
						<li>Do not disturb the area around the damaged source or move items.</li>
						<li>Do not turn on your homes electricity.</li>
						<li>Do not attempt to clean or wipe and wash fire residue from walls, ceilings or other absorbent surfaces as this can further damage these areas.</li>
						<li>Call your insurance company immediately.</li>
						<li>Take immediate action by evacuating all personnel from the premises.</li>
						<li>Do not wait! Call Flood Masters.</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-fire-03.jpg" alt="Fire Damage Restoration Virginia, Washington DC, Maryland" /><i></i></figure>
				</section>
			</div>
			<div class="serviceSection">
				<h2>The Process</h2>
				<p><strong>The Flood Masters</strong> operates with on a rapid response arrival time, working around the clock 24 hours, 7 days a week to make sure you are safe and damage free from any type of loss. If you have experienced a loss, please contact our call center at <strong class="red">855-FLOOD-911 (855-356-6391).</strong></p>
				<aside>
					<ol>
						<li>1. Once The Flood Masters call center has been contacted, within 2 hours we will have an on site visit scheduled, a local team dispatched and information about the loss gathered to assure a proper arrival.</li>
						<li>2. Within 4 hours of notification of loss, a Flood Masters representative will be in contact with appropriate person at the location of the loss to discuss the exact steps, which will be taken to begin the process of mitigation.</li>
						<li>3. Proper visual and written documentation of the area will be taken as well as management of all contents and materials. </li>
						<li>4. After the clean up and restoration process is underway, our Manager on site will discus the full details of what will be taking place in order to bring your property back up to standards.</li>
						<li class="last">5. Within 24 hours, we will have already contacted your insurance representative and relayed specific details, which need to be taken account for.</li>
					</ol>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-fire-04.jpg" alt="Fire Damage Cleanup" /><i></i></figure>
				</section>
				<section>
					<figure class="floatRight"><img width="420" height="232"  src="<!--{$imagePath}-->pic-fire-05.jpg" alt="Fire Damage Cleanup Virginia, Washington DC, Maryland" /><i></i></figure>
				</section>
			</div>
			<div id="serviceWhyFlood">
				<h2>Why Choose <strong>Flood Masters?</strong></h2>
				<section>	
					When you've been through an experience as traumatic as a fire on your property, you need the services of a professional fire damage restoration company to minimize your losses and recover as many of your possessions as possible from the ravages of the fire damage. When you hire <strong>The Flood Masters<strong>, you are dealing with a fire damage restoration company that has many decades of experience in the fire restoration business. An established track record ensures your safety and peace of mind. We ensure to making your home back to what it was, if not in better condition. 
					<br/><a href="<!--{$applicationPath}-->?action=contact">Contact The Flood Masters</a> today - 1-855-356-6391.
				</section>
				<figure><img src="<!--{$imagePath}-->van and truck.jpg" alt="Fire Damage Cleanup & Restoration" /></figure>
			</div>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->
