		<section class="contentBox floorPage clearfix">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>Flooring</strong> Installation – Carpet, Hardwood, Tile</h1>
					<h2>We Provide Expert Floor Installation Service For Residential, Commercial and Industrial Spaces.</h2>
				</hgroup>
				<header id="topServicesPage" class="clearfix">
					<section class="trustBox">
						<h3>Why People Trust Us</h3>
						<ul class="tickList">
							<li>Guaranteed Customer Satisfaction</li>
							<li>Personalized Attention</li>
							<li>Work Directly With Insurance Agencies</li>
							<li>Match any Competitive Price</li>	
						</ul>
						<div class="button"><a href="<!--{$applicationPath}-->?action=contact"><span>Get Help Now</span></a></div>
					</section>
					<figure class="callUs">
						<span>
							<h2><strong>Call Us Now</strong></h2>
							<h6>24 Hour Live Support</h6>
							<h2><strong>1-855-356-6391</strong></h2>
						</span>
					</figure>
				</header>
				<section class="innerPage clearfix">
					<div class="serviceSection">
						<h2>Types of Carpet we Install:</h2>
						<aside>
							<ul class="starBold col-2">
								<li>Plushes</li>
								<li>Berbers</li>
								<li>Friezes</li>
								<li>Textures</li>
								<li>Wool</li>
								<li>Indoor &amp; Outdoor</li>
							</ul>
							<h4>Plush Carpet Details</h4>
							<p style="margin-top:12px">Sink in to the absolute luxury of a plush carpet. Just as its name suggests, a plush carpet is smooth, clean and soft. Plush has been described as a carpet that’s as much of a pleasure to walk on as it is to behold.</p>
							<p>Although a plush carpet is most often used for formal living and dining room settings, it’s also perfect for more private areas, like a bedroom or study. Available in a stunning range of colors. Interior fashion doesn’t get more beautiful or indulgent than this.</p>
							<h4 style="margin-top:50px">Berber Carpet Details</h4>
							<p style="margin-top:12px">Berber’s large and small tufts of fibers make it comfortable under your feet, which makes it excellent for areas of your home that are used frequently. Another advantage of Berber’s loop construction is that it tends to resist crushing more, which can help hide marks from footsteps or vacuuming.</p>
							<p>Berber carpet’s textured look enhances any style of home decoration – from traditional to modern – with a timeless look. It is available in a range of neutral color tones or flecked variations.</p>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-01.jpg" alt="" /><i></i></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->flooring-plush.jpg" alt="" /><i></i></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->flooring-berber.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<div class="serviceSection">
						<h2>Hardwood</h2>
						<aside>
							<h4>Types of Wood we Install:</h4>
							<ul class="starBold col-2 setMargin" style="margin-top: 20px;">
								<li>Domestic Hardwood</li>
								<li>Exotic Hardwoods</li>
								<li>Bamboo &amp; Cork Flooring</li>
								<li>Laminate Wood</li>
							</ul>
							<p>Hardwood flooring has a prestigious look which adds true value to your home. We offer two distinctive types of hardwood flooring: domestic hardwoods and exotic hardwoods. In addition, bamboo flooring and cork flooring are also available in select markets. All of these options come in different styles and tones, with elegant textures that add an estate appeal to any room.</p>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-03.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<div class="serviceSection">
						<h2>Ceramic Tile Flooring</h2>
						<aside>
							<h4>Ceramic Flooring Features:</h4>
							<ul class="bullet setMargin" style="margin-top: 20px;">
								<li>Ceramic flooring adds value to your home</li>
								<li>Residential or commercial installation</li>
								<li>Wide variety of ceramic styles, patterns and sizes</li>
								<li>Durable glazed ceramic finishes</li>
								<li>Multiple options for interior or exterior application - a look for every season!</li>
								<li>Ceramic flooring offers superb wear and performance</li>
								<li>Same quality ceramic tile available in home improvement stores</li>
							</ul>
						</aside>
						<section style="margin-top: 40px;">
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->flooring-tile.jpg" alt="" /><i></i></figure>
						</section>
						<div class="clr"></div>
						<aside style="width: 100%;">
							<h4>Porcelain &amp; Ceramic Tile</h4>
							<p>Whether you choose ceramic or porcelain, indoors or outdoors, we have the flooring that fits your needs. </p>
							<p>If you're looking for a stylish tile for all seasons, then look no further than porcelain. Because of its impervious construction, porcelain can withstand just about anything. </p>
							<p>Updating your home is a good thing to do, especially when you update it with The Flood Masters.  It all happens easily, conveniently and professionally from start to finish.</p>
						</aside>
					</div>
					<div class="serviceSection">
						<h2>How it works:</h2>
						<aside>
							<ol class="setMargin">
								<li>1. Make an appointment for a FREE, no obligation in-home estimate.</li>
								<li>2. On the day of your appointment, a friendly, professional Sales Representative will arrive at your home to show you samples, allow you to match the samples with your existing décor, measure and give you a fully installed price to give your home a new look.  The representative will schedule your installation, which could even be next day!</li>
								<li>3. On the day of your installation, our experienced professional installers, who handle every job with care, will arrive at your home.  After the installation is complete, they will review the job with you to make sure you're completely satisfied and provide you with access information for The Flood Masters Product Care Information, featuring product care/maintenance information, manufacturer's product or The Flood Masters installation warranty information, and more details to extend the life of your product.</li>
								<li>4. Within the next two weeks, a representative will contact you to make sure you're completely satisfied.</li>
								<li>5. We're always available to help. Customer Service (link this to the contact page) is just a click away. Or, you can contact us by phone at <span class="red">855-356-6391</span>.</li>  
							</ol>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-04.jpg" alt="" /><i></i></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-06.jpg" alt="" /><i></i></figure>
						</section>
					</div>
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->