		<section class="contentBox floorPage clearfix">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>Flooring</strong> Service</h1>
					<h2>We Provide Expert Floor Installation Service For Residential, Commercial and Industrial Spaces.</h2>
				</hgroup>
				<header id="topServicesPage" class="clearfix">
					<section class="trustBox">
						<h3>Why People Trust Us</h3>
						<ul class="tickList">
							<li>We are Insurance Approved Vendor</li>
							<li>BBB member accreditied with a A Rating</li>
							<li>We are fully licensed, bonded and insured</li>
						</ul>
						<div class="button"><a href="javascript:void(0)"><span>Get Online Help Now</span></a></div>
					</section>
					<figure class="callUs">
						<span>
							<h2><strong>Call Us Now</strong></h2>
							<h6>24 Hour Live Support</h6>
							<h2><strong>1-855-356-6391</strong></h2>
						</span>
					</figure>
				</header>
				<section class="innerPage clearfix">
					<p class="wp">Nothing brings out the natural beauty of your home like the enchantment of hardwood flooring. And there's no one more capable of helping you select hardwood floors than the experts at <strong>The Flood Masters</strong>. Whether you're seeking the warm, rustic look of red oak or a modern, fine-grained maple, we'll help you select the most beautiful hardwood floor that will never lose its character or go out of style</p>
					<div class="serviceSection">
						<h2>Flooring and Repair Services</h2>
						<section>
							<figure><img src="<!--{$imagePath}-->pic-floor-01.jpg" alt="" /><i></i></figure>
						</section>
						<aside>
							<ul class="starBold col-2">
								<li>Hardwood Flooring</li>
								<li>Flooring Repair</li>
								<li>Refinishing</li>
								<li>Unfinished Flooring</li>
								<li>Wood Flooring</li>
								<li>Stair Repairs</li>
								<li>Staricase Refinishing</li>
							</ul>
						</aside>
						<div class="clr"></div>
						<aside>
							<ul class="starBold">
								<li>Laminent Flooring</li>
								<li>Pre-Finished Flooring</li>
								<li>Tile installation</li>
								<li>Carpet Floors</li>
							</ul>
						</aside>
						<section>
							<figure class="floatRight"><img src="<!--{$imagePath}-->pic-floor-02.jpg" alt="" /><i></i></figure>
						</section>
						<div class="clr"></div>
						<p class="wp">At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed.</p>
					</div>
					<div class="serviceSection">
						<h2>Deciding Between Species, Shade and Gloss</h2>
						<aside>
						<p>At <strong>The Flood Masters</strong> we have a vast variaty of different shapes and shades for you to get your desirable look. There's a lot that goes into picking the perfect hardwood floors for your home. Not only do you have to worry about installation costs, colors and brand, but you you also have to consider whether to go with a shiny or matte finish.
We provide different designes for different tastes. Browse through our Cataloge and choose your own design. Choosing light, dark or medium shade or gloss can be really impressive in the matter of changing the envirement of the house. Plus at The Flood Masters, you can decide on your own price by choosing your floor. </p>
							<!--<ul class="bullet">
								<li>Do not disturb the area around the fire source or move items </li>
								<li>Open all windows </li>
								<li>Do not turn on your homes electricity </li>
								<li>Do not attempt to clean or wipe and wash fire residue from walls, ceilings or other absorbent surfaces as this can further damage these areas.</li>
								<li>Call your insurance company immediately</li>
								<li>take immediate action</li>
								<li>Do not wait! Call Flood Masters Home Rescue; we are available</li>
							</ul>
							-->
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-03.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<div class="serviceSection">
						<h2>Things You Most Know About Hard Floors</h2>
						<p><strong>The Flood Masters</strong> operates with on a rapid response arrival time, working around the clock 24 hours, 7 days a week to make sure you are safe and damage free from any type of loss. If you have experienced a loss, please contact our call center at <strong class="red">855-FLOOD-911 (855-356-6391).</strong></p>
						<aside>
							<ol>
								<li>1. Once The Flood Masters call center has been contacted, within 2 hours we will have an on site visit scheduled, a local team dispatched and information about the loss gathered to assure a proper arrival. </li>
								<li>2. Within 4 hours of notification of loss, a Flood Masters representative will be in contact with appropriate person at the location of the loss to discuss the exact steps which will be taken to begin the process of mitigation. </li>
								<li>3. Once mitigation has taken underway, information will be gathered about your specific insurance coverage and contact information. </li>
								<li>4. Proper visual and written documentation of the area will be taken as well as management of all contents and materials.</li>
								<li>5. After the mitigation process is underway, our Manager on site will discus the full details of what will be taking place in order to bring your property back up to standards. </li>
								<li>6. Within 24 hours, we will have already contact your insurance representative and relayed specific details which need to be taken account for. </li>
							</ol>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-04.jpg" alt="" /><i></i></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-floor-04.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<div id="serviceWhyFlood">
						<h2>Why Choose <strong>Flood Masters?</strong></h2>	
						<section>
							<ul class="bullet">
								<li>Advanced System and Technology.</li>
								<li>Fully Licensed, Bonded and Insured.</li>
								<li>Customer Satisfaction Guaranteed.</li>
								<li>We offer a dust containment system for hardwood floor sanding and refinishing.</li>
								<li>We Offer the Bona Atomic Dust Containment System.</li>
								<li>Technical Support (for matters that you cannot understood).</li>
								<li>Extensive knowledge in all of the services we offer.</li>
							</ul>
							<a href="javascript:void(0)">Contact The Flood Masters</a> all care today.
						</section>
						<figure><img src="<!--{$imagePath}-->pic-floor-05.jpg" alt="" /></figure>
					</div>
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->