
		<section id="slideShow">
			<nav>
				<a class="navWater" href="<!--{$applicationPath}-->?action=water">
					<span>Flood Damage Clean up</span>
					<div>
						<b>Flood Damage Clean up</b>
						<sub>Water Removal, Dry out, Cleanupand Restorationr</sub>
					</div>
				</a>
				<a class="navFire" href="<!--{$applicationPath}-->?action=fire">
					<span>Fire Damage Restoration</span>
					<div>
						<b>Fire Damage Restoration</b>
						<sub>Fire Cleanup, Odor Removal, Restoration and Repair</sub>
					</div>
				</a>
				<a class="navMold" href="<!--{$applicationPath}-->?action=mold">
					<span>Mold Remediation Service</span>
					<div>
						<b>Mold Remediation Service</b>
						<sub>Mold removal, clean up and disinfection and repairs</sub>
					</div>
				</a>
			</nav>
			<ul id="slidePicture">
				<li class="active">
					<figure><img src="<!--{$imagePath}-->bnr-support.jpg" alt="slide pic" /></figure>
				</li>
				<li>
					<figure><img src="<!--{$imagePath}-->bnr-flood.jpg" alt="slide pic" /></figure>
					<section>
						<div class="button white more"><a href="<!--{$applicationPath}-->?action=water">Learn More<figure></figure></a></div>
					</section>
				</li>
				<li>
					<figure><img src="<!--{$imagePath}-->bnr-support.jpg" alt="slide pic" /></figure>
					<section>
						<div class="button white more"><a href="javascript:void(0)">Learn More<figure></figure></a></div>
					</section>
				</li>
			</ul>
		</section>
		
		<section class="contentBox clearfix">
			<header class="topContent"></header>
			<section class="middleContent">
				<section id="whatSection" class="clearfix">
					<div class="leftDiv">
						<h2>What <strong>The Flood Masters</strong> Do?</h2>
						<p><strong>The Flood Masters</strong> is a leader in property emergency services, helps families and
						business overcome the devastating setbacks caused by water, fire and mold condition resulting in property damage.
						We also offer the following services:
						</p>
						<ul class="tickList col-2">
							<li>Water damage restoration</li>
							<li>Fire &amp; Smoke restoration</li>
							<li>Mold remediation</li>
							<li>Odor control, Sewage clean-up</li>
							<li>Carpet cleaning &amp; restoration</li>
						</ul>
					</div>
					<div class="rightDiv">
						<h2>Why <strong>The Flood Masters</strong> ?</h2>
						<ul class="starList">
							<li>Comprehensive project warranty</li>
							<li>24/7 Immediate response</li>
							<li>Certified, dedicated and professional team</li>
							<li>Licensed, boned, insured </li>
							<li>Unmatched quality &amp; professional work</li>
							<li>Best Price <strong>GUARANTEED</strong></li>
							<li>Direct Insurance Billing</li>
						</ul>
						<div class="button floatRight"><a href="javascript:void(0)">Get a Free Estimate</a></div>
					</div>
				</section>
				<section id="serviceColumns" class="clearfix">
					<section>
						<figure>
							<img src="<!--{$imagePath}-->pic-cleaning.jpg" alt="" />
							<figcaption>Commercial &amp; Residential Cleaning</figcaption>
						</figure>
						<aside>
							<h5>Carpet and Upholstery Cleaning</h5>
							<p>Helping people keep their homes beautiful for more than 50 years.</p>
							<ul class="tickList">
								<li>Pipe burst clean up</li>
								<li>Toilet overflow clean up</li>
								<li>Emergency storm damage and catastrophe clean up</li>
							</ul>
							<div class="button"><a href="<!--{$applicationPath}-->?action=cleaning">Learn more</a></div>
						</aside>
					</section>
					<section>
						<figure>
							<img src="<!--{$imagePath}-->pic-flooring.jpg" alt="" />
							<figcaption>Flooring</figcaption>
						</figure>
						<aside>
							<h5>Janitorial and Specialty Cleaning</h5>
							<p>Offering daily, weekly or monthly cleaning for your facility.</p>
							<ul class="tickList">
								<li>Pipe burst clean up</li>
								<li>Toilet overflow clean up</li>
								<li>Emergency storm damage and catastrophe clean up</li>
							</ul>
							<div class="button"><a href="<!--{$applicationPath}-->?action=floor">Learn more</a></div>
						</aside>
					</section>
					<section class="last">
						<figure>
							<img src="<!--{$imagePath}-->pic-waterproofing.jpg" alt="" />
							<figcaption>Sewage Damage Service</figcaption>
						</figure>
						<aside>
							<h5>Fire and Water Damage Cleaning</h5>
							<p>Reducing loss and getting homes and businesses back to normal quickly.</p>
							<ul class="tickList">
								<li>Pipe burst clean up</li>
								<li>Toilet overflow clean up</li>
								<li>Emergency storm damage and catastrophe clean up</li>
							</ul>
							<div class="button"><a href="<!--{$applicationPath}-->?action=sewage">Learn more</a></div>
						</aside>
					</section>
				</section>
			</section>
			<footer class="bottomContent partners">
				<a href="javascript:void(0)"><strong>Real Estate Agent, Plumber or Property Manager?</strong> Partner With Us!</a>
			</footer>
		</section> <!-- end of CONTENT section-->
