
		<section id="slideShow">
			<nav>
				<a class="navWater" href="<!--{$applicationPath}-->?action=water">
					<span>Water</span>
					<div>
						<b>Flood Damage Clean up</b>
						<sub>Water Removal, Dry out, Clean up and Restoration</sub>
					</div>
				</a>
				<a class="navFire" href="<!--{$applicationPath}-->?action=fire">
					<span>Fire</span>
					<div>
						<b>Fire Damage Restoration</b>
						<sub>Fire Cleanup, Odor Removal, Restoration and Repair</sub>
					</div>
				</a>
				<a class="navMold" href="<!--{$applicationPath}-->?action=mold">
					<span>Mold</span>
					<div>
						<b>Mold Remediation Service</b>
						<sub>Testing, Mitigation, Repair &amp; Asbestos Abatement</sub>
					</div>
				</a>
			</nav>
			<ul id="slidePicture">
				<li class="active" style="position: relative;">
					<figure><img src="<!--{$imagePath}-->bnr-support.jpg" alt="slide pic" data-href="<!--{$applicationPath}-->?action=contact" /></figure>
					<div style=" z-index:10; font-size: 34px; font-weight: bold; color: #009fe3; position: absolute;top:95px;left:38px; letter-spacing:1.1px">
					1-855-356-6391
					</div>
				</li>
				<li>
					<figure><img src="<!--{$imagePath}-->bnr-flood.jpg" data-href="<!--{$applicationPath}-->?action=water" alt="Flood damage Cleanup Virginia, Washington DC, Maryland" /></figure>
					<section>
						<div class="button white more"><a href="<!--{$applicationPath}-->?action=water" >Learn More<figure></figure></a></div>
					</section>
				</li>
				<li>
					<figure><img src="<!--{$imagePath}-->bnr-fire.jpg" alt="Fire Damage Cleanup & Restoration" data-href="<!--{$applicationPath}-->?action=fire" /></figure>
					<section>
						<div class="button white more"><a href="<!--{$applicationPath}-->?action=fire" >Learn More<figure></figure></a></div>
					</section>
				</li>
				<li>
					<figure><img src="<!--{$imagePath}-->bnr-mold.jpg" alt="Mold Mitigation Services" data-href="<!--{$applicationPath}-->?action=mold"/></figure>
					<section>
						<div class="button white more"><a href="<!--{$applicationPath}-->?action=mold" >Learn More<figure></figure></a></div>
					</section>
				</li>
			</ul>
		</section>
		
		<section class="contentBox clearfix">
			<header class="topContent"></header>
			<section class="middleContent">
				<section id="whatSection" class="clearfix">
					<div class="leftDiv">
						<h2>What <strong>The Flood Masters</strong> Do?</h2>
						<p><strong>The Flood Masters</strong> is one of the Region's leaders when it comes to Emergency Property Damage Restoration Services, helping property owners, renters and businesses overcome setbacks caused by water and fire damage. We also offer the following services:
						</p>
						<ul class="tickList col-2">
							<li>Mold Mitigation</li>
							<li>Sewage Clean Up</li>
							<li>Basement Water Proofing</li>
							<li>Sump Pump Installation</li>
							<li>Storm Damage Recovery</li>
							<li>Carpet &amp; Upholstery Cleaning</li>
							<li>Carpet &amp; Hardwood Floor Installation</li>
							<li>Tile Installation (Ceramic and Vinyl)</li>
						</ul>
					</div>
					<div class="rightDiv">
						<h2>Why <strong>The Flood Masters</strong> ?</h2>
						<ul class="starList">
							<li>24/7 Emergency Response Service Team</li>
							<li>Licensed, Bonded, Insured</li>
							<li>Unmatched Quality &amp; Professional Work</li>
							<li>Certified, Dedicated and Professional Workmanship</li>
							<li>Over 30 Years of Experience</li>
							<li>Direct Estimate Price Matching</li>
						</ul>
						<div class="button floatRight" style="margin-top:26px"><a href="<!--{$applicationPath}-->?action=contact">Get a Free Estimate</a></div>
					</div>
				</section>
				<section id="serviceColumns" class="clearfix">
					<section>
						<figure>
							<img src="<!--{$imagePath}-->pic-cleaning.jpg" alt="Commercial and Residential Cleaning Services" />
							<figcaption style="font-size: 15px">COMMERCIAL &amp; RESIDENTIAL CLEANING</figcaption>
						</figure>
						<aside>
							<h5>Carpet and Upholstery Cleaning</h5>
							<p>Offering daily, weekly or monthly cleaning for your facility.</p>
							<ul class="tickList">
								<li>Carpet and Upholstery</li>
								<li>Tile and Floor Care</li>
								<li>Day &amp; Night Cleaning</li>
							</ul>
							<div class="button"  style="clear:both;"><a href="<!--{$applicationPath}-->?action=cleaning">Learn more</a></div>
						</aside>
					</section>
					<section>
						<figure>
							<img src="<!--{$imagePath}-->pic-flooring.jpg" alt="Commercial & Residential Flooring Installation Services" />
							<figcaption>FLOOR SERVICES</figcaption>
						</figure>
						<aside>
							<h5>Flooring</h5>
							<p>Floor Installation Services for Residential, Commercial and Industrial Spaces</p>
							<ul class="tickList">
								<li>Carpet</li>
								<li>Hardwood</li>
								<li>Tile (Ceramic &amp; Vinyl)</li>
							</ul>
							<div class="button"  style="clear:both;"><a href="<!--{$applicationPath}-->?action=floor">Learn more</a></div>
						</aside>
					</section>
					<section class="last">
						<figure>
							<img src="<!--{$imagePath}-->pic-waterproofing.jpg" alt="Basement Waterproofing Services" />
							<figcaption>WATERPROOFING SERVICES</figcaption>
						</figure>
						<aside>
							<h5>Reduce the risk of having water enter your structure</h5>
							<p>Reducing loss and getting homes and businesses back to normal quickly.</p>
							<ul class="tickList">
								<li>Sump Pump Installation</li>
								<li>Battery Back-Up Systems</li>
								<li>Exterior Drainage and Interior Systems</li>
							</ul>
							<div class="button"  style="clear:both;"><a href="<!--{$applicationPath}-->?action=basement">Learn more</a></div>
						</aside>
					</section>
				</section>
			</section>
			<footer class="bottomContent partners">
				<a href="<!--{$applicationPath}-->?action=contact"><strong>Real Estate Agent, Plumber or Property Manager?</strong> Partner With Us!</a>
			</footer>
		</section> <!-- end of CONTENT section-->
