		<section class="contentBox moldPage clearfix">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>Mold</strong> Remediation, Removal Service</h1>
					<h2>We Provide Expert Mold Damage Services For Residential, Commercial and Industrial Spaces.</h2>
				</hgroup>
				<header id="topServicesPage" class="clearfix">
					<section class="trustBox">
						<h3>Why People Trust Us</h3>
						<ul class="tickList">
							<li>We are Insurance Approved Vendor</li>
							<li>BBB member accreditied with a A Rating</li>
							<li>We are fully licensed, bonded and insured</li>
						</ul>
						<div class="button"><a href="javascript:void(0)"><span>Get Online Help Now</span></a></div>
					</section>
					<figure class="callUs">
						<span>
							<h2><strong>Call Us Now</strong></h2>
							<h6>24 Hour Live Support</h6>
							<h2><strong>1-855-356-6391</strong></h2>
						</span>
					</figure>
				</header>
				<section class="innerPage clearfix">
					<p class="wp">Different kinds of molds grow with the presence of moisture and water. When the spores find a source of moisture, the molds grow rapidly. If the origin of moisture will not be controlled, the mold will multiply as frequent as you can imagine, and there will be an extensive mold infestation. If you are looking for an expert in treating the molds and stopping it's source, <strong>The Flood Masters</strong> can help you. </p>
					<div class="serviceSection">
						<h2>Mold Remediation, Removal Services</h2>
						<section>
							<figure><img src="<!--{$imagePath}-->pic-mold-01.jpg" alt="" /><i></i></figure>
						</section>
						<aside>
							<ul class="starBold col-2">
								<li>Protection from mold</li>
								<li>Mold Symptoms</li>
								<li>Mold testing</li>
								<li>Insure your safety</li>
								<li>Mold remediation</li>
								<li>Insulates your crawl space</li>
								<li>Black mold removal, decontamination &amp; remediation</li>
							</ul>
						</aside>
						<div class="clr"></div>
						<aside>
							<ul class="starBold">
								<li>Moisture Removal and Drying</li>
								<li>Emergency Response Services</li>
								<li>Mold Inspection</li>
								<li>Air Quality Testing</li>
							</ul>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-02.jpg" alt="" /><i></i></figure>
						</section>
						<div class="clr"></div>
						<p>At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed.</p>
					</div>
					<div class="serviceSection">
						<h2>How to Handle Mold Attack </h2>
						<aside>
							<ul class="bullet">
								<li>Mold must be contained and not allowed to aerosolize and spread</li>
								<li>Open all windows and doors to allow the property to begin to dry</li>
								<li>Do not turn on your homes electricity</li>
								<li>The infected areas must be treated and the source of moisture must be eliminated to prevent future mold growth</li>
								<li>Call your insurance company immediately</li>
								<li>The mold must be killed with biocides</li>
								<li>Do not wait! Call The Flood Masters Home Rescue; we are available </li>
							</ul>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-03.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<div class="serviceSection">
						<h2>The Process</h2>
						<p><strong>The Flood Masters</strong> operates with on a rapid response arrival time, working around the clock 24 hours, 7 days a week to make sure you are safe and damage free from any type of loss. If you have experienced a loss, please contact our call center at <strong class="red">855-FLOOD-911 (855-356-6391).</strong></p>
						<aside>
							<ol>
								<li>1. locate and have the water or humidity problem repaired.</li>
								<li>2. Cleaning of mold growth and spores from salvageable building materials.</li>
								<li>3. Removal and disposal of non salvageable building materials showing mold growth.</li>
								<li>4. Cleaning the settled mold spores from contained area by vacuuming.</li>
								<li>5. Complete containment of affected areas including de-containment chamberse.</li>
								<li>6. Follow the plan of action created by microbiologist, including coordinating repair of leak, extracting water, drying structure and removing and remediating the mold damage.</li>
								<li>7. Any contaminated material that cannot be remediated will be removed and discarded (drywall, carpeting, padding, cabinetry, etc.). Loose material (insulation, dirt, debris, etc) is removed in sealed plastic bags and discarded.</li>
							</ol>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-04.jpg" alt="" /><i></i></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-05.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<div id="serviceWhyFlood">
						<h2>Why Choose <strong>Flood Masters?</strong></h2>
						<section>	
							If you have ever found yourself with a mold problem in your home, then mold remediation or mold removal is very important
We understand that mold can be a toxic substance and requires immediate action, and also realizing the impact water damage can have on your property. A prompt response from our team can mean less damage to your belongings and a decreased health risk from exposure to toxic mold sporesrecord ensures your safety and peace of mind. Let <strong>The Flood Masters</strong> handle the problem. 
							<br/><a href="javascript:void(0)">Contact The Flood Masters</a> all care today.
						</section>
						<figure><img src="<!--{$imagePath}-->pic-mold-06.jpg" alt="" /></figure>
					</div>
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->