		<section class="contentBox moldPage clearfix">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>MOLD:</strong> Mold Mitigation Services</h1>
					<h2>We Provide Expert Mold Damage Restoration Services for Commercial and Residential Spaces.</h2>
				</hgroup>
				<header id="topServicesPage" class="clearfix">
					<section class="trustBox">
						<h3>Why People Trust Us</h3>
						<ul class="tickList">
							<li>Guaranteed Customer Satisfaction</li>
							<li>Personalized Attention</li>
							<li>Work Directly With Insurance Agencies</li>
							<li>Match any Competitive Price</li>	
						</ul>
						<div class="button"><a href="<!--{$applicationPath}-->?action=contact"><span>Get Help Now</span></a></div>
					</section>
					<figure class="callUs">
						<span>
							<h2><strong>Call Us Now</strong></h2>
							<h6>24 Hour Live Support</h6>
							<h2><strong>1-855-356-6391</strong></h2>
						</span>
					</figure>
				</header>
				<section class="innerPage clearfix">
					
					<div class="serviceSection">
						<h2>Mold Remediation &amp; Removal Services</h2>
						<p>
							Mold contamination continues to affect homes nationwide. Mold has the potential to cause health problems such as lung problems, allergic reaction, or even skin problems. If you have had water damage or rain damage in your home and have not taken care of it within 12-24 hours, there is potential for mold growth within your walls and structure. If not identified and mitigated immediately, it can grow within the walls in your house. Mold can then spread into the HVAC system spreading throughout your home, over time leading to major health and sanitary issues.
						</p>
						<p>
							Our team will assess areas of contamination; analyze what part of your property is affected by the mold. We will also take samples to be tested in the laboratory for identification of the mold type to provide the most specific remediation solution. We will then begin the mitigation of all contaminated materials by removal and then by applying specific solutions to decontaminate and neutralize the affected areas and leave drying equipment to begin the drying process. Once The Flood Masters team has declared the contaminated areas completely dry, we will analyze the area to ensure the entire mold has been removed prior to the rebuilding process. Don’t hesitate, give us a call and let the Masters of Disaster take charge in remedying the mold infestation – <strong class="red">1-855-FLOOD-911</strong>.
						</p>
						<h2>Special Services</h2>
						<p>Whatever the disaster, we’re ready with the solution. Some of the special damage recovery services we offer include:</p>
						<div class="clr"></div>
						<ul class="bullet col-3">
							<li>Structure Drying</li>
							<li>Document Drying</li>
							<li>Deodorizing Service/Odor Removal</li>
							<li>Trauma Site Restoration</li>
							<li>Board-Up Service</li>
							<li>Debris Removal Service</li>
							<li>Pack-Out and Storage Service</li>
							<li>Drywall Replacement</li>
							<li>Mold Remediation</li>
						</ul>
						<div class="clr"></div>
						<p>At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed.</p>
					</div>
					<div class="serviceSection">
						<h2>Things To Remember When Considering Mold Contamination</h2>
						<aside>
							<ul class="bullet">
								<li>Mold must be contained and not allowed to aerosolize and spread</li>
								<li>Open all windows and doors to allow the property to begin to dry</li>
								<li>Do not turn on your homes HVAC system</li>
								<li>The infected areas must be treated and the source of moisture must be eliminated to prevent future mold growth</li>
								<li>Call your insurance company immediately</li>
								<li>The infected areas must be identified and eliminated and then the structure must be treated with anti-microbial solutions and biocides</li>
								<li>Do not wait! Call The Flood Masters</li>
							</ul>
						</aside>
						<section>
							<figure style="margin-top: 70px;" class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-03.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					<!--<div class="serviceSection">
						<h2>The Process</h2>
						<p><strong>The Flood Masters</strong> operates with on a rapid response arrival time, working around the clock 24 hours, 7 days a week to make sure you are safe and damage free from any type of loss. If you have experienced a loss, please contact our call center at <strong class="red">1-855-FLOOD-911 (855-356-6391).</strong></p>
						<aside>
							<ol>
								<li>1. locate and have the water or humidity problem repaired.</li>
								<li>2. Cleaning of mold growth and spores from salvageable building materials.</li>
								<li>3. Removal and disposal of non salvageable building materials showing mold growth.</li>
								<li>4. Cleaning the settled mold spores from contained area by vacuuming.</li>
								<li>5. Complete containment of affected areas including de-containment chamberse.</li>
								<li>6. Follow the plan of action created by microbiologist, including coordinating repair of leak, extracting water, drying structure and removing and remediating the mold damage.</li>
								<li>7. Any contaminated material that cannot be remediated will be removed and discarded (drywall, carpeting, padding, cabinetry, etc.). Loose material (insulation, dirt, debris, etc) is removed in sealed plastic bags and discarded.</li>
							</ol>
						</aside>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-04.jpg" alt="" /><i></i></figure>
						</section>
						<section>
							<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-mold-05.jpg" alt="" /><i></i></figure>
						</section>
					</div>
					-->
					<div id="serviceWhyFlood">
						<h2>Why Choose <strong>Flood Masters?</strong></h2>
						<section>
							If you have ever found yourself with a mold problem in your home, then mold remediation or mold removal is very important. A prompt response from our team can mean less damage to your belongings and a decreased health risk from exposure to toxic mold spores ensures your safety and peace of mind. Let The Flood Masters handle the problem.	
							<br/><a href="<!--{$applicationPath}-->?action=contact">Contact The Flood Masters</a> today – 1-855-356-6391.
						</section>
						<figure><img src="<!--{$imagePath}-->pic-mold-06.jpg" alt="" /></figure>
					</div>
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->
