		
		<section class="contentBox residentialPage clearfix" id="residential">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>Residential Services</strong></h1>
				</hgroup>
				<section class="innerPage clearfix">
					<p class="wp">We are a full service Residential Property Clean Up and Restoration Company with over 30 years of experience. We offer specialized services to quality-minded clients. If you have suffered from a water or fire loss you should contact our 24hour service team immediately. The success of the Company is due to excellent workmanship, integrity and knowledge by its full-time technicians using industry specialized equipment not available to ordinary contractors. Our main focus to keep our customers happy, we do everything possible to get you back to new! <strong class="red">24/7 HOTLINE – 1-855-356-6391</strong></p>

					<div class="serviceSection" id="residential-water">
						<h2>WATER, FLOOD &amp; STORM</h2>
						<aside>
							<p>If you experience a water loss in your home due to heavy rain, floods, storm drain backup, appliance malfunction, sink and water overflow then you need to call a Flood Masters Professional as soon as possible.  Our emergency response team is on call to help minimize residual damage for your home.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=water">Learn more<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-residential-01.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-fire">
						<h2>FIRE, SMOKE &amp; SOOT</h2>
						<aside>
							<p>Fires in the home are not pleasant, even when there are small fires that emit low amounts of smoke level. These fires can still cause unforeseen damage to your home and often times leave a strong odor. Smoke particulates are smaller then the naked eye can see and can invade not only the walls and contents of your home, but the air you breath. Leaving you and your family susceptible to health risks and concerns.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=fire">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-residential-02.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-mold">
						<h2>MOLD REMEDIATION</h2>
						<aside>
							<p>Residential mold remediation is essential in every home, because spore outbreaks are an indoor air quality issue and can cause specific health problems. Proper mold removal is an important part of ensuring a healthy living environment. We can help balance cost savings with high quality mold removal solutions, while minimizing your day-to-day living interruption and liability.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=mold">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-residential-03.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-cleaning">
						<h2>CLEANING SERVICES</h2>
						<aside>
							<p>Not only do we pride ourselves in the excellent work that we provide but also we enjoy the cleaning aspect to our business. Keeping homes clean and free from dust, debris and allergens is our main focus. We provide carpet cleaning and restoration services, upholstery cleaning, furniture remediation, Oriental and high end rug cleaning and care and preventative maintenance tips and strategies to keep your home looking and smelling fresh and new.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=cleaning">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-cleaning-08.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-sewage">
						<h2>SEWAGE &amp; PIPE BURSTS</h2>
						<aside>
							<p>Sewage backup is probably the most undesirable and unsanitary damage that can affect your home. Cleaning a property after sewage backup or breakdown is a critical job to ensure the safety of the buildings occupants. Our water damage restoration team has extensive experience in cleaning properties from water damage disasters.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=cleaning#r-Sewage-Cleanup">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-residential-05.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-flooring">
						<h2>FLOORING SERVICES</h2>
						<aside>
							<p><strong>The Flood Masters</strong> supplies and installs a wide variety of residential floor coverings ranging from traditional to modern.  We work factory direct and can supply a wide range of options whether it is carpet, laminate wood/hardwood flooring, or tile and vinyl. Also we can do Flooring Repair, Unfinished Flooring, Stair Repairs, Staircase Refinishing and so on.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=floor">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-residential-04.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-basement">
						<h2>BASEMENT WATERPROOFING</h2>
						<aside>
							<p>What is basement waterproofing? It is the technique used to prevent water from entering the building in which you live in. We offer a variety of waterproofing systems depending on your specific situation. If you suffer from foundation leaks and cracks, failed sump pumps, poor exterior drainage, or a power failure, then you need a detailed assessment of which specific system is the right choice for you. We offer full sump pump installation, battery back up systems, interior and exterior below ground drainage systems, foundation repair and a few other types as well.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=sewage">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-basement.jpg" alt="" /></figure>
						</section>
					</div>
					<!--<div class="serviceSection" id="residential-tile">
						<h2>TILE &amp; GROUT CLEANING</h2>
						<aside>
							<p>Tile and grout can be the easiest thing to over look when it comes to the deep cleaning maintenance. We use a high powered pressure washing system with our RX-15 tile and grout cleaner along with our specialized cleaning solutions to remove all debris, grime and gunk to ensure that you tile and grout looks just like new.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=cleaning#r-Tile-Garout-Cleaning">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="390" height="233" src="<!--{$imagePath}-->pic-residential-06.jpg" alt="" /></figure>
						</section>
					</div>-->
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->
