
<section class="contentBox sewagePage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>Sewage</strong> Damage service</h1>
			<h2>We Provide Expert Sewage Damage Services For Residential, Commercial and Industrial Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>
				<div class="button"><a href="<!--{$applicationPath}-->?action=?action=contact"><span>Get Online Help Now</span></a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
		<section class="innerPage clearfix">
			
			<div class="serviceSection">
				<h2>Sewage Damage Cleanup</h2>
				<section>
					<figure><img src="<!--{$imagePath}-->pic-sewage-01.jpg" alt="" /><i></i></figure>
				</section>
				<aside>						
					<ul class="starBold col-2">
						<li>Sewage Removal</li>
						<li>Repair</li>
						<li>Certifications</li>
						<li>Septic Pumping</li>
						<li>Sewer Ejector Pumps</li>
						<li>Dry Out</li>
						<li>Cleanup and Disinfection</li>
					</ul>
				</aside>
				<div class="clr"></div>
				<aside>						
					<ul class="starBold col-1" style="margin-left:140px; margin-top:60px">
						<li>Inspections</li>
						<li>Sewage Pipe Break</li>
						<li>Grease Traps</li>
						<li>Sink or Bathtub Overflow</li>
						<li>Sewage Damage</li>
						<li>Floor Drain Backups</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img src="<!--{$imagePath}-->pic-sewage-02.jpg" alt="" /><i></i></figure>
				</section>
				<div class="clr"></div>
				<p>At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed.</p>
			</div>
			<div class="serviceSection">
				<h2>Home Owner Tips</h2>
				<aside>
					<ul class="bullet">
						<li>Sewage overflow from common water reservoirs are not clean and contain millions of microorganisms and other contaminants.</li>
						<li>Certain materials like carpets that were in direct contact with sewage may not be saved.</li>
						<li>Chlorine or bleach is not enough to treat sewage or kills bacteria in sewage.</li>
						<li>Keep children and pets away from sewage-contaminated areas as they may be vulnerable to health risks.</li>
						<li>Avoid direct contact with sewage by wearing the proper clothing, which includes masks, respirators, rubber gloves, goggles, rubber boots, and safety helmets.</li>
						<li>Always handle with care all products that encountered direct contract with sewage.</li>
						<li>Surfaces affected by sewage should be treated as contaminated areas and should be avoided until proper sewage remediation is completed and the area disinfected.</li>
						<li>Partially flooded homes and other establishments are not safe from the dangers of sewage.</li>
					</ul>
				</aside>
				<section>
					<figure class="mediumPic floatRight"><img src="<!--{$imagePath}-->pic-sewage-03.jpg" alt="" /><i></i></figure>
				</section>
			</div>
			<div class="serviceSection">
				<h2>The Process</h2>
				<p>We are available 24 hours a day, 7 days a week, to offer instant response. When you need The Flood Masters, we arrive to your home or business ready to handle all Floor Installation service. </p>
				<aside>
					<ol>
						<li>1. Once The Flood Masters call center has been contacted, within 2 hours we will have an on site visit scheduled, a local team dispatched and information about the loss gathered to assure a proper arrival. </li>
						<li>2. Within 4 hours of notification of loss, a Flood Masters representative will be in contact with appropriate person at the location of the loss to discuss the exact steps which will be taken to begin the process of mitigation. </li>
						<li>3. Once mitigation has taken underway, information will be gathered about your specific insurance coverage and contact information. </li>
						<li>4. Proper visual and written documentation of the area will be taken as well as management of all contents and materials.</li>
						<li>5. After the mitigation process is underway, our Manager on site will discus the full details of what will be taking place in order to bring your property back up to standards. </li>
						<li>6. Within 24 hours, we will have already contact your insurance representative and relayed specific details which need to be taken account for. </li>
					</ol>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-sewage-04.jpg" alt="" /><i></i></figure>
				</section>
				<section>
					<figure class="floatRight"><img width="420" height="232"  src="<!--{$imagePath}-->pic-sewage-04.jpg" alt="" /><i></i></figure>
				</section>
			</div>
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->