<section class="contentBox waterPage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>Flood, Water</strong> Damage Restoration</h1>
			<h2>We Provide Expert Water Damage Services For Residential, Commercial and Industrial Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>				<div class="button"><a href="<!--{$applicationPath}-->?action=contact"><span>Get Online Help Now</span></a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
		<section class="innerPage clearfix">
					<div class="serviceSection">
				<h2>Flood and Water Damage Services</h2>
				<p>
				Natural disasters can occur without any warning, causing devastating damage to your property.  During a natural disaster you can rely on our experienced staff to help you in making the right decisions in order to defend against the natural disaster.  We know exactly how to effectively implement our Emergency Preparation System whether it is before, during or after the storm.
				</p>
				<ul class="bullet">
					<li>Emergency Board-Up Service</li>
					<li>Perimeter Fencing</li>
					<li>Evacuation Planning</li>
					<li>Emergency Security Personnel </li>
				</ul>
				<br />
				<section>
					<figure><img src="<!--{$imagePath}-->pic-water-01.jpg" alt="" /><i></i></figure>
				</section>
				<aside>
					<ul class="starBold col-2">
					    <li>Water Extraction</li>
						<li>Odor Removal</li>
						<li>Dehumidification</li>
						<li>Surface Drying</li>
						<li>Cleansing Of Air</li>
						<li>Water Damage Assessment</li>
						<li style="width:  360px !important;">Using Blowing Equipment To Fully Dry The Areas</li>
					</ul>
				</aside>
				<div class="clr"></div>
				<aside>
					<ul class="starBold col-2">
					    <li>Sanitation</li>
						<li>Disinfecting</li>
						<li>Debris Removal</li>
						<li>Sewage Cleanup</li>
						<li>Flooding Cleanup</li>
						<li>Crawl Space Cleanup</li>
						<li>Damaged Carpet Removal</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img src="<!--{$imagePath}-->pic-water-02.jpg" alt="" /><i></i></figure>
				</section>
				<div class="clr"></div>
				<p>At <strong>The Flood Masters</strong> we understand the value of providing superior customer service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of every job, insuring the customer is happy with the work performed. </p>
			</div>
			<div class="serviceSection">
				<h2>Things to Do Before We Arrive</h2>
				<aside>
					<ul class="bullet">
						<li>If possible, identify and eliminate the source.</li>
						<li>If the power is out, contact your local provider and let us know immediately.</li>
						<li>Schedule a plumber if necessary so we can begin immediately upon arrival.</li>
						<li>Remove valuables from the area if it is a safe environment.</li>
						<li>Begin documenting by taking photos and writing notes.</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-water-03.jpg" alt="" /><i></i></figure>
				</section>
			</div>
			<div class="serviceSection">
				<h2>The Process</h2>
				<p>We are available 24 hours a day, 7 days a week, to offer instant response. When you need The Flood Masters, we arrive to your home or business ready to handle all water or sewage damage situations regardless of the size.</p>
				<aside>
					<ol>
						<li>1. Assessment &amp; Survey Of Water Damage/Flooding.</li>
						<li>2. Removal of valuables so they are kept clean during process.</li>
						<li>3. Remove all traces of standing water.</li>
						<li>4. If there is any secondary damage, we will remove any bacteria due to the water damage.</li>
					</ol>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-water-04.jpg" alt="" /><i></i></figure>
				</section>
			</div>
			<div id="serviceWhyFlood">
				<h2>Why Choose <strong>Flood Masters?</strong></h2>
				<section>Water damage can be very costly if you don't extract the water promptly. You need an expert in water damage repair and water extraction. A water damage restoration expert knows the potential health hazards that can occure during the restoration process of your home.
					<strong>The Flood Masters</strong> team has certified experts trained in water damage restoration. Your home is quickly dried and restored back to normal from the damage caused water.
					Check out our credentials and you will be impressed. Our water damage repair expertise saves your time and money, and prevents potential health problems. All you need to worry about is how to move on with your life after we've cleaned up the water mess!
					Let us help you get your home or office building back to normal.
					<br/><a href="<!--{$applicationPath}-->?action=contact">Contact The Flood Masters</a> all care today.
				</section>
				<figure><img src="<!--{$imagePath}-->pic-water-06.jpg" alt="" /></figure>
			</div>
			
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->