<section class="contentBox waterPage clearfix">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>WATER:</strong> Water Damage Clean Up &amp; Restoration</h1>
			<h2>We Provide Expert Water Damage Restoration Services for Commercial and Residential Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>				<div class="button"><a href="<!--{$applicationPath}-->?action=contact"><span>Get Help Now</span></a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
		<section class="innerPage clearfix">
				<div class="serviceSection">
				<h2>Flood and Water Damage Services</h2>
				<p>
				Water damage can greatly affect your property and can occur without any warning, causing interruption of business or personal life. During a water loss you can rely on our experienced technicians to help you in making the correct decisions in order to defend against further damage. Knowing what to do and what to expect in advance is the key to timely mitigation and can help minimize how water damage can affect your home or business. Our technicians use specialized equipment that determine abnormal levels of moisture, aid in drying out structures quicker as well as assessing a strategy to restore a property that has suffered from water damage at a minimal cost.
				</p>
				<section>
					<figure><img src="<!--{$imagePath}-->pic-water-01.jpg" alt="Water Damage Repair Service" /><i></i></figure>
				</section>
				<aside>
					<ul class="starBold col-2">
					    <li>Water Extraction</li>
						<li>Odor Removal/Deodorizing</li>
						<li>Sewage Clean Up</li>
						<li>Dehumidification</li>
						<li>Water Damage Assessment</li>
						<li>Property Restoration</li>
						<li>Contents Restoration</li>
						<li>Carpet and Upholstery Cleaning</li>
						<li>Storm and Natural Disaster Clean Up</li>
					</ul>
				</aside>
				<div class="clr"></div>
				<p>At <strong>The Flood Masters</strong> we understand the value of providing superior Customer Service to all of our customers. In fact it is so important to us, we require each of our technicians get a Customer Satisfaction Form signed at the completion of each job, ensuring the customer is happy with the work performed.</p>
			</div>
			<div class="serviceSection">
				<h2>Things to Do Before We Arrive</h2>
				<aside>
					<ul class="bullet">
						<li>If possible, identify where the water is coming from and if you can shut off the water mainline.</li>
						<li>Turn off the power.</li>
						<li>If the power is out, contact your local provider and let us know immediately.</li>
						<li>Schedule a plumber if necessary so we can begin immediately upon arrival.</li>
						<li>Remove valuables from the area if it is a safe environment to enter.</li>
						<li>Begin documenting by taking photos and writing notes.</li>
					</ul>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-water-03.jpg" alt="Water Damage Restoration Service" /><i></i></figure>
				</section>
			</div>
			<div class="serviceSection">
				<h2>The Process</h2>
				<p>We are available 24 hours a day, 7 days a week, to offer immediate response. When you need The Flood Masters, we arrive to your home or business ready to handle all water or storm related situations regardless of the size.</p>
				<aside>
					<ol>
						<li>1. Assess and survey the water damage.</li>
						<li>2. Document the procedure and establish an effective plan that is custom tailored to your disaster needs. Once this is established our Technicians will discuss with you the process set forth thoroughly.</li>
						<li>3. Begin work and eliminate the source and beginning the drying or clean up process.</li>
						<li>4. If there is any secondary damage, we will remove any bacteria due to the water damage and we will constantly monitor to make sure the drying process is working effectively.</li>
					</ol>
				</aside>
				<section>
					<figure class="floatRight"><img width="420" height="232" src="<!--{$imagePath}-->pic-water-04.jpg" alt="Water Damage Restoration" /><i></i></figure>
				</section>
			</div>
			<div id="serviceWhyFlood">
				<h2>Why Choose <strong>Flood Masters?</strong></h2>
				<section>Water damage can be very costly if the water is not extracted promptly and the area not dried in a timely manner. You need an expert in Water Damage repair and Water Extraction in order to effectively eliminate any future problems. A water damage restoration expert knows the potential health hazards that can occur during the restoration process of your home and has trained experience with the specialized equipment that is needed to successfully repair your home or business.
				<br>Our water damage repair expertise saves you time and money, and prevents potential health problems. Let us help you get your property back to normal, if not better than new.
					<br/><a href="<!--{$applicationPath}-->?action=contact">Contact The Flood Masters</a> today - 1-855-356-6391
				</section>
				<figure><img src="<!--{$imagePath}-->van and truck.jpg" alt="The Flood Masters 24x7 Water Damage Restoration Service" /></figure>
			</div>
			
		</section>
	</section>
	<footer class="bottomContent"></footer>
</section> <!-- end of CONTENT section-->
