<section class="contentBox clearfix cleaningPage">
	<header class="topContent"></header>
	<section class="middleContent clearfix">
		<hgroup>	
			<h1><strong>Cleaning</strong> Services</h1>
			<h2>We Provide Expert Cleaning Services For Residential, Commercial and Industrial Spaces.</h2>
		</hgroup>
		<header id="topServicesPage" class="clearfix">
			<section class="trustBox">
				<h3>Why People Trust Us</h3>
				<ul class="tickList">
					<li>Guaranteed Customer Satisfaction</li>
					<li>Personalized Attention</li>
					<li>Work Directly With Insurance Agencies</li>
					<li>Match any Competitive Price</li>	
				</ul>
				<div class="button"><a href="<!--{$applicationPath}-->?action=contact">Get Help Now</a></div>
			</section>
			<figure class="callUs">
				<span>
					<h2><strong>Call Us Now</strong></h2>
					<h6>24 Hour Live Support</h6>
					<h2><strong>1-855-356-6391</strong></h2>
				</span>
			</figure>
		</header>
	</section>
	<footer class="bottomContent"></footer>
</section>
<section id="cleaningServiceWrapper" class="clearfix cleaningPage">
	<aside id="sidebar">
		<div class="sideBox orangeColor">
			<header><h4><a href="#residential">Residential Services</a></h4></header>
			<section>
				<ul>
					<li>
						<a href="#r-Carpet-Cleaning">Carpet Cleaning</a>
					</li>
					<li>
						<a href="#r-Tile-FloorCare">Tile and Floor Care</a>
						<ul>
							<li><a href="#r-Tile-FloorCare-01">Mat Services</a></li>
							<li><a href="#r-Tile-FloorCare-02">Mop Services</a></li>
							<li><a href="#r-Tile-FloorCare-03">Tile and Floor Cleaning</a></li>
							<li><a href="#r-Tile-FloorCare-04">vacuuming</a></li>
							<li><a href="#r-Tile-FloorCare-05">Wood floor Cleaning</a></li>
						</ul>
					</li>
					<li>
						<a href="#r-Upholstery-Cleaning">Upholstery Cleaning</a>
						<ul>
							<li><a href="#r-Upholstery-Cleaning-01">Kitchen Cleaning</a></li>
							<li><a href="#r-Upholstery-Cleaning-02">Bedroom Cleaning</a></li>
							<li><a href="#r-Upholstery-Cleaning-03">Move in, Out Cleaning</a></li>
							<li><a href="#r-Upholstery-Cleaning-04">We provide all supplies</a></li>
							<li><a href="#r-Upholstery-Cleaning-05">Chandelier Cleaning</a></li>
							<li><a href="#r-Upholstery-Cleaning-06">Dry Cleaning</a></li>
						</ul>
					</li>
					<li>
						<a href="#r-Tile-Garout-Cleaning">Tile and Grout Cleaning</a>
						<ul>
							<li><a href="#r-Tile-Garout-Cleaning-01">Reshape your curtains</a></li>
							<li><a href="#r-Tile-Garout-Cleaning-02">Cleaning your Delicate Drapes</a></li>
							<li><a href="#r-Tile-Garout-Cleaning-03">Care All Fabric Window Coverage</a></li>
						</ul>
					</li>
					<li><a href="#r-Hardwood-Floor">Hardwood Floor Refinishing</a></li>
					<li><a href="#r-Sewage-Clean">Sewage Clean Up</a></li>
					<li>
						<a href="#r-Power-Washing">Power Washing</a>
						<ul>
							<li><a href="#r-Power-Washing-01">Roof Washing</a></li>
							<li><a href="#r-Power-Washing-02">Brick and Block Power Washing</a></li>
							<li><a href="#r-Power-Washing-03">Gutter Cleaning</a></li>
							<li><a href="#r-Power-Washing-04">Deck Cleaning and Staining</a></li>
						</ul>
					</li>
				</ul>
			</section>
			<footer></footer>
		</div>
		<div class="sideBox greenColor">
			<header><h4> <a href="#commercial" >Commercial Services </a></h4></header>
			<section>
				<ul>
					<li>
						<a href="#c-Carpet-Cleaning">Carpet Cleaning</a>
						<ul> 
							<li><a href="#c-Carpet-Cleaning-01">Dry Cleaning</a></li>
							<li><a href="#c-Carpet-Cleaning-02">Rug Cleaning</a></li>
							<li><a href="#c-Carpet-Cleaning-03">Craper Cleaning</a></li>
							<li><a href="#c-Carpet-Cleaning-04">Stain Removal</a></li>
							<li><a href="#c-Carpet-Cleaning-05">Mildew Control</a></li>
						</ul>
					</li>
					<li>
						<a href="#c-Upholstery-Cleaningc">Upholstery Cleaning</a>
						<ul>
							<li><a href="#c-Upholstery-Cleaningc-01">Favbric Blinds</a></li>
							<li><a href="#c-Upholstery-Cleaningc-02">Taking care of you'r Drapery</a></li>
							<li><a href="#c-Upholstery-Cleaningc-03">Windows Treatment</a></li>
							<li><a href="#c-Upholstery-Cleaningc-04">Swags</a></li>
							<li><a href="#c-Upholstery-Cleaningc-05">Cleaning Sheers and curtains</a></li>
						</ul>
					</li>
					<li><a href="#c-Hard-Floor-Surface-Cleaning">Hard Floor Surface Cleaning</a></li>
					<li><a href="#c-Power-Washing">Power Washing</a></li>
				</ul>
			</section>
			<footer></footer>
		</div>
	</aside>
	<section class="contentBoxMedium clearfix">
		<header class="topContent"></header>
		<section class="middleContent clearfix">
			<section class="innerPage residentalServices clearfix" id="residential">
				<h2>Residential Services</h2>
				<p>We provide an expert Residential Services in many ways. We are experts in the field of steam cleaning carpets since the early 90's and have continued to pride ourselves in maintaining our customer's home clean and spotless through the years. Normal everyday wear and tear can leave your carpet, tile and hard surface flooring looking dull and filled with debris. That's when we step in with our industry leading equipment and expertise to get the job done for you. We also clean grout, tile, upholstery and refinish hardwood floors.</p>
				<section class="serviceSection" id="r-Carpet-Cleaning">
					<h2>Carpet and Upholstery</h2>
					<aside>
						<p><strong>The Flood Masters</strong> professional technicians use the power of Hot Carbonating Extraction for a deep healthy clean. You can trust our powerful extraction equipment. 
						Our fully trained and certified technicians follow all major carpet manufacturers' recommendations and warranty requirements, including those for stain-resistant carpeting.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-01.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-02.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="r-Carpet-Cleaning-01">Dry Cleaning</li>
							<li id="r-Carpet-Cleaning-02">Hot water Extraction</li>
							<li id="r-Carpet-Cleaning-03">Bonnet Cleaning</li>
							<li id="r-Carpet-Cleaning-04">Gum Removal</li>
							<li id="r-Carpet-Cleaning-05">Ink Stain Removal</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="r-Tile-FloorCare">
					<h2>Tile and Floor Care</h2>
					<aside style="width:100%">
						<p>At <strong>The Flood Master's</strong> comprehensive tile cleaning process utilizing our high-pressure steam rinse and soil removal, will clean your tile and grout and revive it back to its original beauty! We use the highest-quality, safest cleaning products available. Get a better looking floor surface just by choosing Flood Masters.</p>
					</aside>
					<!-- 
					<section>
						<figure class="smallestPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-03.jpg" alt="" /><i></i></figure>
					</section>
					 -->
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-04.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="r-Tile-FloorCare-01">Mat Services</li>
							<li id="r-Tile-FloorCare-02">Mop Services</li>
							<li id="r-Tile-FloorCare-03">Tile and Floor Cleaning</li>
							<li id="r-Tile-FloorCare-04">Vacuming</li>
							<li id="r-Tile-FloorCare-05">Wood Floor Cleaning</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="r-Upholstery-Cleaning">
					<h2>House Cleaning</h2>
					<aside>
						<p>At <strong>The Flood Master</strong> our goal is to provide top quality residential house cleaning at the best possible price. Our cleaning professionals have participated in extensive training and are fully bonded and insured. They show up on time with the right supplies and get right to work. Your satisfaction is important to us, so we guarantee that you will be satisfied with the quality of our home cleaning services</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-05.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-06.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li>Kitchen Cleaning</li>
							<li>Bedroom Cleaning</li>
							<li>Move in, Out Cleaning</li>
							<li>We provide all supplies</li>
							<li>Chandelier Cleaning</li>
							<li>Dry Cleaning</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="r-Tile-Garout-Cleaning">
					<h2>Drapes &amp; Fabric</h2>
					<aside>
						<p>At <strong>The Flood Master</strong> we can safely clean any type of window covering fabric right where it hangs, saving removal and re-hanging costs. With our procedure we can GUARANTEE there will not be any shrinkage or damage to your drapes. </p>
					</aside>
					<section>
						<figure class="smallPic  floatRight"><img src="<!--{$imagePath}-->pic-cleaning-07.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-08.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="r-Tile-Garout-Cleaning-01">Reshape your curtains</li>
							<li id="r-Tile-Garout-Cleaning-02">Cleaning your Delicate Drapes</li>
							<li id="r-Tile-Garout-Cleaning-03">Care All Fabric Window Coverage</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="r-Power-Washing">
					<h2>Power Washing</h2>
					<aside>
						<p>Dirt, grime and mildew can collect on your home's vinyl siding and if not cleaned, can cause costly repairs, renovations or replacements. These contaminates are removable without using excessive water pressure, which can cause damage, by using contractor grade cleaners.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-09.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-10.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="r-Power-Washing-01">Roof Washing</li>
							<li id="r-Power-Washing-02">Brick and Block Power Washing</li>
							<li id="r-Power-Washing-03">Gutter Cleaning</li>
							<li id="r-Power-Washing-04">Deck Cleaning and Staining</li>
						</ul>
					</aside>
				</section>
			</section><!-- end of Inner page -->
			<section style="margin-top: 20px;" class="innerPage commercialServices clearfix" id="commercial">
				<h2>Commercial Services</h2>
				<p>The Flood Masters team and YOUR organization make a great partnership. We have partnered with restaurants, condominiums, and commercial properties providing them with carpet, upholstery, hard floor cleaning and emergency restoration services for over a decade now. With over 40 years of combined experience, we have the knowledge, manpower and equipment to handle any situation.</p>
				<p>
				Not only does partnering with us lowers your monthly cleaning and upkeep costs and reduce scheduling headaches, but it also gives you an opportunity to partake in our Emergency Preparation System.  Because we are a 24-hour emergency restoration company, we are able to help you in case a catastrophic water or fire loss occurs and provide you with attentive and dedicated first hand service. We have our team on stand by awaiting your call. </p>
				<section class="serviceSection" id="c-Carpet-Cleaning">
					<h2>Carpet Cleaning</h2>
					<aside>
						<p><strong>The Flood Masters</strong> professional technicians use the power of Hot Carbonating Extraction for a deep healthy clean. You can trust our powerful extraction equipment. 
						Our fully trained and certified technicians follow all major carpet manufacturers' recommendations and warranty requirements, including those for stain-resistant carpeting.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-11.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-12.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold"> 
							<li id="c-Carpet-Cleaning-01">Dry Cleaning</li>
							<li id="c-Carpet-Cleaning-02">Rug Cleaning</li>
							<li id="c-Carpet-Cleaning-03">Craper Cleaning</li>
							<li id="c-Carpet-Cleaning-04">Stain Removal</li>
							<li id="c-Carpet-Cleaning-05">Mildew Control</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="c-Upholstery-Cleaningc">
					<h2>Drapes &amp; Fabric</h2>
					<aside style="width:100%">
						<p>At <strong>The Flood Master's</strong> we value the investments youve made to beautify your home and protect your privacy. We offer a delicate yet thorough cleaning for any type of window treatment, fabric panel or lampshade that will avoid damage and preserve their quality and visual appeal.</p>
					</aside>
					<!-- 
					<section>
						<figure class="smallestPic  floatRight"><img src="<!--{$imagePath}-->pic-cleaning-13.jpg" alt="" /><i></i></figure>
					</section>
					 -->
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-14.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="c-Upholstery-Cleaningc-01">Favbric Blinds</li>
							<li id="c-Upholstery-Cleaningc-02">Taking care of you'r Drapery</li>
							<li id="c-Upholstery-Cleaningc-03">Windows Treatment</li>
							<li id="c-Upholstery-Cleaningc-04">Swags</li>
							<li id="c-Upholstery-Cleaningc-05">Cleaning Sheers and curtains</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="c-Hard-Floor-Surface-Cleaning">
					<h2>Cellings, Walls &amp; Hard Floors</h2>
					<aside>
						<p><strong>The Flood Master</strong> Deep has a dedicated team for cleaning cellings, walls and hard floors. Cleaning ceilings and walls will brighten hard floors, make carpets look cleaner and give your facility or home a healthier, brighter look and show you care about your people and their environment. Extends the lifespan of your ceiling by contacting us today.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-15.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic"><img src="<!--{$imagePath}-->pic-cleaning-16.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="c-Hard-Floor-Surface-Cleaning-01">Cleaning oils</li>
							<li id="c-Hard-Floor-Surface-Cleaning-02">Dust Mites</li>
							<li id="c-Hard-Floor-Surface-Cleaning-03">Taking care of the Smoke</li>
							<li id="c-Hard-Floor-Surface-Cleaning-04">Disinfect wall surfaces</li>
						</ul>
					</aside>
				</section>
				<section class="serviceSection" id="c-Power-Washing">
					<h2>Sanding &amp; Staining Hardwoord Floors</h2>
					<aside>
						<p>We offer the finest quality of floor coverings and installations of residential and commeracial needs. We handle all jobs big or small. We have been providing these services for many years. All work is guaranteed.  Flooring is the foundation for your home environment and can have a dramatic effect on the look and functionality of every room.</p>
					</aside>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-17.jpg" alt="" /><i></i></figure>
					</section>
					<div class="clr"></div>
					<section>
						<figure class="smallPic floatRight"><img src="<!--{$imagePath}-->pic-cleaning-18.jpg" alt="" /><i></i></figure>
					</section>
					<aside>
						<ul class="starBold">
							<li id="c-Power-Washing-01">Hardwood floors - refinishing</li>
							<li id="c-Power-Washing-02">New floor installation</li>
							<li id="c-Power-Washing-03">Old floor restoration</li>
						</ul>
					</aside>
				</section>
			</section><!-- end of Inner page -->
		</section>
		<footer class="bottomContent"></footer>
	</section>
</section>