
		
		<section class="contentBox commercialPage clearfix" id="commercial">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>Commercial Services</strong></h1>
				</hgroup>
				<section class="innerPage clearfix">

					<p class="wp">We are a full service commercial and residential cleaning company with wide range of experience. We offer custom service to quality-minded clients. The success of the company is due to excellent workmanship, integrity and knowledge by its full-time technicians using advanced reliable equipment. </p>
					<div class="serviceSection" id="commercial-water">
						<h2>Flood, Water Damage Restoration</h2>
						<aside>
							<p>Response time is critical when it comes to water damage, responding quickly to reverse the damage done. It is our job to restore your property and get your life back to normal. This is our profession and we are good at it. Don't give up on your home- call The Flood Masters restoration team who can make things right. Water damage restoration is possible when started immediately after the flooding.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=water">Learn more<figure></figure></a></div>
						</aside>

						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-commercial-01.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="commercial-fire">
						<h2>Fire, Smoke Damage Restoration</h2>
						<aside>
							<p>Though it seems simple, fire and smoke are complicated and you will need an expert to evaluate the situation. Smoke comes in four basic varieties. Wet Smoke is described as resulting from a low heat fire, dry Smoke results from a fast burning high temperature fire, protein smoke has an extreme pungent odor but is virtually invisible, and fuel oil soot smoke results from furnace currents. After you call in a fire damage restoration team, professionals will evaluate the smoke and fire damage.</p>

							<div class="button more"><a href="<!--{$applicationPath}-->?action=fire">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-commercial-02.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="commercial-mold">
						<h2>Testing, Mitigation, Repair &amp; Asbestos Abatement</h2>

						<aside>
							<p>Mold is a fungus that causes organic matter to decay. It is a growth of mold on the surface of something, or the discoloration caused by the growth of mold. Mold thrives in moist or humid conditions. Contact us today for an evaluation of your mold issue, and let us help you restore comfort, health and confidence to your surroundings. We are confident we will earn your trust and deliver you the most knowledgeable service in the industry. </p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=mold">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-commercial-03.jpg" alt="" /></figure>
						</section>
					</div>

					<div class="serviceSection" id="commercial-flooring">
						<h2>Flooring Installation</h2>
						<aside>
							<p>Looking to add that special touch in your home? Attractive, versatile, extremely durable, and appropriate for any room, The Floor Masters flooring is great for any home makeover. It is available in the most popular wood finishes, and it can be installed over almost any existing flooring. </p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=floor">Learn more<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-commercial-04.jpg" alt="" /></figure>
						</section>
					</div>
					
					<div class="serviceSection" id="commercial-cleaning">
						<h2>Cleaning Serives</h2>
						<aside>
							<p>Our commercial cleaning services are scientifically validated for their use of hospital-grade disinfectants and innovative equipment. Each job is completed by a fully supervised, trained and insured staff committed to excellence. Our business cleaning service has experience with offices, fitness centers, health clubs, daycare centers and educational facilities. </p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=cleaning#commercial">Learn more<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->commercial-cleaning.jpg" alt="" /></figure>
						</section>
					</div>
										
					<div class="serviceSection" id="commercial-sewage">
						<h2>Sewage Damage</h2>
						<aside>
							<p>The most important thing about treating sewage damage is responding quickly. The quicker you respond, the better the chance that your home or business will be restored to its pre-loss condition. Quick action can also reduce the total amount of sewage damage that occurs. As we know this, we are ready to respond quickly to your sewage damage emergency and get your home or business clean as fast as possible.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=sewage">Learn more<figure></figure></a></div>

						</aside>
						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-commercial-05.jpg" alt="" /></figure>
						</section>
					</div>
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->
