		
		<section class="contentBox residentialPage clearfix" id="residential">
			<header class="topContent"></header>
			<section class="middleContent clearfix">
				<hgroup>	
					<h1><strong>Residential Services</strong></h1>
				</hgroup>
				<section class="innerPage clearfix">
					<p class="wp">We are a full service commercial and residential cleaning company with wide range of experience. We offer custom service to quality-minded clients. The success of the company is due to excellent workmanship, integrity and knowledge by its full-time technicians using advanced reliable equipment. </p>

					<div class="serviceSection" id="residential-water">
						<h2>Flood, Water Damage Restoration</h2>
						<aside>
							<p>If you have water damage due to heavy rain, power failure, broken appliances, foundation leaks, sump pump failure, broken or frozen pipes, or an appliance malfunction, we are available for emergency response to help minimize residual damage.  Our employs specialty equipment that helps determine moisture levels and water damage in assessing a strategy to restore a property that has suffered from water damage.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=water">Learn more<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-residential-01.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-fire">
						<h2>Fire, Smoke Damage Restoration</h2>
						<aside>
							<p>We have the capability to respond to any fire damage and property disaster situation on a 24 hr emergency basis in the form of board-ups, water extractions, temporary roof repairs, odor control, and air scrubbing. Often times after a fire, business owners will walk back into their newly restored stores and offices to see new paint, new floors and new fixtures and appliances.  A few months pass and the "new smell" of everything gives way to the unwanted odor of smoke.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=fire">Learn more<figure></figure></a></div>

						</aside>
						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-residential-02.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-mold">
						<h2>Testing, Mitigation, Repair &amp; Asbestos Abatement</h2>
						<aside>

							<p>Commercial mold remediation is essential in any workplace, because spore outbreaks are an indoor air quality issue. Mold can be a dangerous and destructive presence in an indoor environment. Proper mold removal is an important part of ensuring a healthy work environment. We can help balance cost savings with high quality mold removal solutions, while minimizing business interruption and liability for our clients.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=mold">Learn more<figure></figure></a></div>
						</aside>
						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-residential-03.jpg" alt="" /></figure>
						</section>
					</div>
					<div class="serviceSection" id="residential-flooring">

						<h2>Flooring Installation</h2>
						<aside>
							<p><strong>The Flood Masters</strong> supplies and installs a wide variety of commercial floor coverings ranging from traditional to modern. Source Floor supplies commercial-grade linoleums and carpets, complete entrance matting systems, polished and stained concrete, and porcelain and natural stone flooring. </p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=floor">Learn more<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-residential-04.jpg" alt="" /></figure>
						</section>
					</div>
					
					<div class="serviceSection" id="residential-cleaning">
						<h2>Cleaning Services</h2>
						<aside>
							<p>Your home is a reflection of you – and you have high expectations when it comes to how it looks. So why not leave the house cleaning to experts at The Maids. We deliver quality, trust, professionalism and attentiveness each and every day. Because your trust, security, and peace of mind are our priority, we are licensed, insured, and bonded for your protection.</p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=cleaning#residential">Learn more<figure></figure></a></div>
						</aside>
						<section>

							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->residential-cleaning.jpg" alt="" /></figure>
						</section>
					</div>
					
					<div class="serviceSection" id="residential-sewage">
						<h2>Sewage Damage</h2>
						<aside>
							<p>Sewage damge is probably the most undesirable and hard to clean up water damage disaster to your home or business. Cleaning a property after sewage backup or breakdown is a critical job to ensure the safety of the buildings occupants. Sewage damage needs to be quickly cleaned to avoid the potential problems of spreading germs and airborne contaminents. </p>
							<div class="button more"><a href="<!--{$applicationPath}-->?action=sewage">Learn more<figure></figure></a></div>

						</aside>
						<section>
							<figure class="floatRight"><img width="306" height="233" src="<!--{$imagePath}-->pic-residential-05.jpg" alt="" /></figure>
						</section>
					</div>
				</section>
			</section>
			<footer class="bottomContent"></footer>
		</section> <!-- end of CONTENT section-->
